#list {
    font-size: 15px;
}
#form-title {
    padding-left: 0px;
    font-size: 20px;
}
#list_hospital {
    width: 100%;
    color: gray;
}
#form-title-day {
    margin-left: 0px;
    font-size: 20px;
}
#datepicker {
    width: 180px;
}
#datepicker > span:hover {
    cursor: pointer;
}
.input-group-addon {
    position: absolute;
    top: 7px;
    right: 5px;
}
