/* contact from design*/


body, html{
  width:100%;
	height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Koh Santepheap', cursive ;
  font-size: 15px;

}
#test{
    background: #c2e59c; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #c2e59c, #64b3f4); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #c2e59c, #64b3f4);
    clip-path: ellipse(85% 78% at 50% 19%);
    
  }
  #test h1{
      padding-top: 100px;
      
  }
  #test p {
    text-align: left;
    font-size: 12px;
    padding-bottom: 10rem;

  }
#contact1 h1{
	font-weight: normal;
	font-size: 4em;
	margin: 0 auto;
	margin-top: 30px;
	color: #F90;
	text-align: center;

}

/* Animation webkit */
@-webkit-keyframes myfirst
{
	0% {margin-left: -235px}
	90% {margin-left: 100%;}
	100% {margin-left: 100%;}
}

/* Animation */
@keyframes myfirst
{
	0% {margin-left: -235px}
	70% {margin-left: 100%;}
	100% {margin-left: 100%;}
}

.comment_fly{
	background-image: url('https://i.imgur.com/Gy3WzkH.png');
	width: 235px;
	height: 104px;
	margin-left: -235px;
	position: absolute;	
	animation: myfirst 24s;
	-webkit-animation: myfirst 24s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
}

#comment_fly{
	top: 80px;
}

#comment_fly2{
	top: 310px;
	animation-delay: 3s;
	-webkit-animation-delay: 5s;
}
#comment_fly3{
	top: 510px;
	animation-delay: 8s;
	-webkit-animation-delay: 10s;
}


#form{
	height: 130%;	
	background-color: #98d4f3;
	overflow: hidden;
	position: relative;
  clip-path: ellipse(100% 78% at 51% 80%);
}
form{
	margin: 0 auto;
  width:500px;
	padding-top: 40px;
	color: white;
	position: relative;
  
}
/* #waterform{
  display: inline-block;	
} */
label, input, textarea{
	display: block;	
}
input, textarea{
  position: relative;
	width: 500px;	
	border: none;
	border-radius: 20px;
	outline: none;
	padding: 10px;
	font-size: 1em;
	color: #676767;
	transition: border 0.5s;
	-webkit-transition: border 0.5s;
	-moz-transition: border 0.5s;
	-o-transition: border 0.5s;
	border: solid 3px #98d4f3;	
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	
}
.message{
  margin-bottom: 2rem;
}

@media (max-width: 992px){
  form{
    margin: 0 auto;
    width:400px;
    padding-top: 40px;
    color: white;
    position: relative;
    
  }
  input, textarea{
    position: relative;
    width: 400px;	
    border: none;
    border-radius: 20px;
    outline: none;
    padding: 10px;
    font-size: 1em;
    color: #676767;
    transition: border 0.5s;
    -webkit-transition: border 0.5s;
    -moz-transition: border 0.5s;
    -o-transition: border 0.5s;
    border: solid 3px #98d4f3;	
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    
  }
  #map{
    width: 992px;
  }
  
}
@media (max-width: 768px){
  form{
    margin: 0 auto;
    width:300px;
    padding-top: 40px;
    color: white;
    position: relative;
    
  }
  input, textarea{
    position: relative;
    width: 300px;	
    border: none;
    border-radius: 20px;
    outline: none;
    padding: 10px;
    font-size: 1em;
    color: #676767;
    transition: border 0.5s;
    -webkit-transition: border 0.5s;
    -moz-transition: border 0.5s;
    -o-transition: border 0.5s;
    border: solid 3px #98d4f3;	
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
  }
  #map{
    width: 768px;
  }
}
@media (max-width: 576px){
  form{
    margin: 0 auto;
    width:200px;
    padding-top: 40px;
    color: white;
    position: relative;
    
  }
  input, textarea{
    position: relative;
    width: 200px;	
    border: none;
    border-radius: 20px;
    outline: none;
    padding: 10px;
    font-size: 1em;
    color: #676767;
    transition: border 0.5s;
    -webkit-transition: border 0.5s;
    -moz-transition: border 0.5s;
    -o-transition: border 0.5s;
    border: solid 3px #98d4f3;	
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
  
} */
 #map{
  width: 500px;
}
}
input:focus, textarea:focus{
	border: solid 3px #77bde0;	
}

textarea{
	height: 100px;	
  resize: none;
	overflow: auto;
}
::-webkit-scrollbar{
  width: 10px;
  background: white!important;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb{
  background-color: gray ;
  border-radius: 5px;
 
}
#comment textarea{
  overflow-y: scroll;
  height: 300px;
  resize: none;
}
input[type="submit"]{
	background-color: #F90;
	color: white;
	height: 50px;
	cursor: pointer;
	margin-top: 30px;
	font-size: 1.29em;
	-webkit-transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
	transition: background-color 0.5s;
}
input[type="submit"]:hover{
	background-color: #e58f0e;
	
}
label{
	font-size: 1.5em;
	margin-top: 20px;
	padding-left: 20px;
}
.formgroup, .formgroup-active, .formgroup-error{
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: 10.5%;
	transition: background-image 0.7s;
	-webkit-transition: background-image 0.7s;
	-moz-transition: background-image 0.7s;
	-o-transition: background-image 0.7s;
	width: 300px;
	padding-top: 1rem;
}

.formgroup{
	background-image: url('http://www.geertjanhendriks.nl/codepen/form/pixel.gif');	
}
.formgroup-active{
	color: rgb(0, 180, 0);
}
.formgroup-error{
	color: red;
}

#waterform h4{
  color: black;
} 

.form-check{
  width:100%;
  
}

.form-check-label{
  font-size: 18px;
  cursor: pointer ;
  position: relative;
  margin:0;
  padding: auto;


}
.form-check-input{
  display: inline-block;
  width:10%;
  
}


