/* Diagnose */
#symptom-title {
    font-size: 30px;
    text-align: center;
  }
  .diagnose-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeInRight; 
    animation-duration: 1.5s;
  }
  .symptom-text {
    border-radius: 10px;
    font-size: 15px;
    margin: 5px;
    padding: 10px;
    width: 100%;
  }
  .diagnose-title {
    color: initial;
    width: 100%;
  }
  #test {
    background: #c2e59c; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
    #c2e59c,
    #64b3f4
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #c2e59c, #64b3f4);
    clip-path: ellipse(85% 78% at 50% 19%);
  }