h1 {
  text-align: initial;
  border-bottom: solid 1px black;
  padding-bottom: 10px;
  animation: heartBeat;
  animation-duration: 1.5s;
}
.no-center {
  text-align: initial;
  border-bottom: solid 1px black;
  padding-bottom: 25px;
}
.visit-us {
  background: #c2e59c;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  padding: 10px;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s;
}
.visit-us a {
  color: black;
  padding-left: 10px;
  text-decoration: none;
}
.visit-us a:hover {
  text-decoration: none;
  color: initial;
}
.visit-us:hover {
  transform: scale(1.1);
  transition: all 0.2s;
}
.IPS-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  animation: bounceInRight;
  animation-duration: 2s;
}
.no-center-2 {
  text-align: initial;
  border-bottom: solid 1px black;
  padding-bottom: 15px;
  animation: fadeIn;
  animation-duration: 1.5s;
}
.box-delivery {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, #c2e59c, #64b3f4);
  border-radius: 10px;
  animation: fadeInUp;
  animation-duration: 2s;
}
.title-delivery {
  margin-bottom: 0px;
}
.delivery-left {
  padding: 10px;
  border-right: solid 1px black;
}
