/*Header*/
html, body {
    width: 100%;
    height: 100%;
    font-family: 'Koh Santepheap', cursive;
    font-size: 15px;
}

.navbar {
    background-color: rgb(255, 255, 255,0.7)   !important;
}
header {
    background-color: #45b5ce    !important;
    color: white;
}
header a {
    color: white;
    margin: 1rem
}
header a:hover {
    color: white;
    
}
#header-left{
    float: left; 
    color: #ffffff;  
}
#header-left a{
    color: #ffffff;
    
}

#header-left a{
    padding: 0px 7px ;
}
#header-right a{
    padding: 0px 5px;
    
}


/*xử lý menu*/
.dropdown{
	position: relative;
	display: inline-block;
}
.dropdown-menu{
	display: none;
	position: absolute;
	z-index: 1;
	background-color: #45b5ce;
    padding: 12px 16px;
    min-width: 160px;
  
}
.dropdown-item{
  color: white;
  border: none;
  cursor: pointer;
}

#navbarDropdown{
    padding: 16px 20px;
    font-size: 18px;
    
}
.dropdown:hover .dropdown-menu{
	display: block;
    
}
.navbar li a:hover {
    color: #45b5ce  !important;

}

#person{
    color: #60c6dd;
}







/* Body*/
h2 {
    text-align: center;
    padding-top: 40px;
}
.wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#news {
    border-radius: 10px;
}

body {
    height: 3000px;
}
