@import "https://fonts.googleapis.com/css?family=Raleway";
/*Header*/
html, body {
    width: 100%;
    height: 100%;
    font-family: 'Koh Santepheap', cursive !important;
    font-size: 15px;
}

.navbar {
  background: #c2e59c; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #c2e59c, #64b3f4) !important; /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #c2e59c, #64b3f4) !important;  
  
}
header {
  background: #c2e59c; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #c2e59c, #64b3f4); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #c2e59c, #64b3f4); 
  color: white;
}
header a {
    color: white;
    margin: 1rem
}
header a:hover {
    color: white;
    
}
#header-left{
    float: left; 
    color: #ffffff;  
}
#header-left a{
    color: #ffffff;
    
}

#header-left a{
    padding: 0px 7px ;
}
#header-right a{
    padding: 0px 5px;
    
}


/*xử lý menu*/
.dropdown{
	position: relative;
	display: inline-block;

}
.dropdown-menu{
	display: none;
	position: absolute;
	z-index: 1;
  background: white;
  padding: 12px 16px !important;
  min-width: 260px !important;
  border-radius: 1.5rem !important;
  
}
.dropdown-item{
  color: black!important;
  cursor: pointer !important;
 
    
 
}

#navbarDropdown{
    padding: 10px 20px;
    font-size: 18px;
  
}
.dropdown:hover .dropdown-menu{
	display: block;
    
}
.dropdown-item:hover{
  background-color: transparent;
}
.navbar li a:hover {
    color: #45b5ce  !important;
    background-color: transparent;
   
}


#person{
    color: #c2e59c;
}
#person:hover{
  color: #fff !important;
  
}
.dropdown-item.active{
  color: #fff;
  background-color: white!important;

}

/* Body*/
h2 {
    text-align: center;
    padding-top: 40px;
}
.wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#news {
    border-radius: 10px;
}

body {
    height: 3000px;
}
/* Footer*/
footer{
    position: relative;
    padding: 50px 100px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    clear: both;
    width: 100%;
    height:auto;
    background-size: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

#footer-logo{
 margin-bottom: 5px;
 margin-left: auto;
 margin-right: auto;
 border-bottom: 10px;
 flex: auto;
 text-align: center;

}
footer .container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
h3{
    font-weight: bold;
}
footer .container .about{
    margin-right: 30px;
    position: relative;
    margin-bottom: 15px;
    float: left;
    width: 40%;

}
footer .container .service{
    margin:10px;
    width: 30%;
    position: relative;
    float: center;

}
footer .container .feedback{
    margin-right: 15px;
    width: 30%;
    position: relative;
    font-weight: bold;
    float: right;
}
/*about us*/

#test{
  background: #c2e59c; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #c2e59c, #64b3f4); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #c2e59c, #64b3f4);
}
#test h1{
    padding-top: 100px;
}

  
  .Integrity {
    --bg-color: #ffd861;
    --bg-color-light: #ffeeba;
    --text-color-hover: #4C5656;
    --box-shadow-color: rgba(255, 215, 97, 0.48);
  }
  
  .Prompt {
    --bg-color: #B8F9D3;
    --bg-color-light: #e2fced;
    --text-color-hover: #4C5656;
    --box-shadow-color: rgba(184, 249, 211, 0.48);
  }
  
  .Diversity {
    --bg-color: #CEB2FC;
    --bg-color-light: #F0E7FF;
    --text-color-hover: #4C5656;
    --box-shadow-color: rgba(206, 178, 252, 0.48);
  }
  
  .Develop {
    --bg-color: #DCE9FF;
    --bg-color-light: #f1f7ff;
    --text-color-hover: #4C5656;
    --box-shadow-color: rgba(220, 233, 255, 0.48);
  }
  
  .card {
    width: 220px;
    height: 351px;
    background: #fff;
    border-top-right-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 14px 26px rgba(0,0,0,0.04);
    transition: all 0.3s ease-out;
    text-decoration: none;
   
  }
  #hr{
    border-top: 2px solid rgb(62,44,100);
    width: 95%;
    margin-bottom: 2rem;
  }

  .card:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0,0,0,0.11),
      0 24px 46px var(--box-shadow-color);
  }
  
  .card:hover .overlay {
    transform: scale(4) translateZ(0);
  }
  
  .card:hover .circle {
    border-color: var(--bg-color-light);
    background: var(--bg-color);
  }
  
  .card:hover .circle:after {
    background: var(--bg-color-light);
  }
  
  .card:hover p {
    color: var(--text-color-hover);
  }
  
  .card:active {
    transform: scale(1) translateZ(0);
    box-shadow: 0 15px 24px rgba(0,0,0,0.11),
      0 15px 24px var(--box-shadow-color);
  }
  
  .card p {
    font-size: 16px;
    color: #4C5656;
    margin-top: 30px;
    z-index: 1;
    transition: color 0.3s ease-out;
  }
  
  .circle {
    width: 131px;
    height: 131px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-out;
  }
  
  .circle:after {
    content: "";
    width: 118px;
    height: 118px;
    display: block;
    position: absolute;
    background: var(--bg-color);
    border-radius: 50%;
    top: 7px;
    left: 7px;
    transition: opacity 0.3s ease-out;
  }
  
  .circle svg {
    z-index: 1000;
    transform: translateZ(0);
  }
  
  .overlay {
    width: 118px;
    position: absolute; 
    height: 118px;
    border-radius: 50%;
    background: var(--bg-color);
    top: 20px;
    left: 50px;
    z-index: 0;
    transition: transform 0.3s ease-out;
  }



  body {margin:2rem;}

  .modal-dialog {
        max-width: 800px;
        margin: 30px auto;
    }
  
  
  
  .modal-body {
    position:relative;
    padding:0px;
  }
  .close {
    position:absolute;
    right:-30px;
    top:0;
    z-index:999;
    font-size:2rem;
    font-weight: normal;
    color:#fff;
    opacity:1;
  }

.btn-primary{
  background-color: #FF0000 !important;
  border-color: red !important;
}
.btn:hover{
  transform: translateY(-3px);
}
#test1{
  color: white;
  background: #c2e59c; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #c2e59c, #64b3f4); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #c2e59c, #64b3f4);
padding: 100px 100px 100px 100px;
}


/*FAQ*/
.container {
  width: 70%;
  margin: auto;
  text-align: center;
}
p {
  text-align: left;
  font-size: 12px;
}
.accordion {
  font-weight: 800!important;
}
/* Định dạng các button mô tả cho nội dung*/
button.accordion {
  background-color: transparent;
  color: black;
  cursor: pointer;
  margin-top: 2px;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none ;
  outline: none;
  transition: 0.4s;

}

/* Thêm màu nền cho button được active hoặc được hover*/
button.accordion.active {
  background-color: transparent;
  border-style:none !important;
  transform: translateY(-3px);
}
button.accordion:hover {
  border: none;
  transform: translateY(-3px);
}


/* Thiết lập cho phần nội dung, mặc định sẽ được ẩn đi */
div.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  outline: 0;
}
button.accordion.active:focus { 
  outline: none;
  border:none; 
}
button.accordion:focus {
  outline: none
}

/*Contact*/


/* contact from design */


/* contact from design */


@import url(https://fonts.googleapis.com/css?family=Sniglet|Raleway:900);


body, html{
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Sniglet', cursive;
}
h1{
	font-weight: normal;
	font-size: 4em;
	font-family: 'Raleway', sans-serif;
	margin: 0 auto;
	margin-top: 30px;
	width: 500px;
	color: #F90;
	text-align: center;

}

/* Animation webkit */
@-webkit-keyframes myfirst
{
	0% {margin-left: -235px}
	90% {margin-left: 100%;}
	100% {margin-left: 100%;}
}

/* Animation */
@keyframes myfirst
{
	0% {margin-left: -235px}
	70% {margin-left: 100%;}
	100% {margin-left: 100%;}
}

.fish{
	background-image: url('https://i.imgur.com/Gy3WzkH.png');
	width: 235px;
	height: 104px;
	margin-left: -235px;
	position: absolute;	
	animation: myfirst 24s;
	-webkit-animation: myfirst 24s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
}

#fish{
	top: 120px;
}

#fish2{
	top: 180px;
	animation-delay: 5s;
	-webkit-animation-delay: 7s;
}
#fish3{
	top: 260px;
	animation-delay: 10s;
	-webkit-animation-delay: 12s;
}


#contact1{
	height: 100px;
	background: url('http://www.geertjanhendriks.nl/codepen/form/golf.png') repeat-x bottom;
}

#form{
	height: 100%;	
	background-color: #98d4f3;
	overflow: hidden;
	position: relative;
	
}
form{
	margin: 0 auto;
	width: 500px;
	padding-top: 40px;
	color: white;
	position: relative;
	
	
}
label, input, textarea{
	display: block;	
}
input, textarea{
	width: 500px;	
	border: none;
	border-radius: 20px;
	outline: none;
	padding: 10px;
	font-family: 'Sniglet', cursive;
	font-size: 1em;
	color: #676767;
	transition: border 0.5s;
	-webkit-transition: border 0.5s;
	-moz-transition: border 0.5s;
	-o-transition: border 0.5s;
	border: solid 3px #98d4f3;	
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	
}
input:focus, textarea:focus{
	border: solid 3px #77bde0;	
}

textarea{
	height: 100px;	
	resize: none; 
	overflow: auto;
}
input[type="submit"]{
	background-color: #F90;
	color: white;
	height: 50px;
	cursor: pointer;
	margin-top: 30px;
	font-size: 1.29em;
	font-family: 'Sniglet', cursive;
	-webkit-transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
	transition: background-color 0.5s;
}
input[type="submit"]:hover{
	background-color: #e58f0e;
	
}
label{
	font-size: 1.5em;
	margin-top: 20px;
	padding-left: 20px;
}
.formgroup, .formgroup-active, .formgroup-error{
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: 10.5%;
	transition: background-image 0.7s;
	-webkit-transition: background-image 0.7s;
	-moz-transition: background-image 0.7s;
	-o-transition: background-image 0.7s;
	width: 566px;
	padding-top: 2px;
}

.formgroup{
	background-image: url('http://www.geertjanhendriks.nl/codepen/form/pixel.gif');	
}
.formgroup-active{
	background-image: url('http://www.geertjanhendriks.nl/codepen/form/octo.png');
}
.formgroup-error{
	background-image: url('http://www.geertjanhendriks.nl/codepen/form/octo-error.png');
	color: red;
}