#test {
  background: #c2e59c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #c2e59c,
    #64b3f4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #c2e59c, #64b3f4);
  clip-path: ellipse(85% 78% at 50% 19%);
}
.form-check-input {
  margin-top: -1rem;
  margin-left: -0.82rem;
}
.container__title {
  padding-top: 10rem;
  font-size: 4rem;
}
.container__text {
  text-align: left;
  font-size: 1.3rem;
  padding-bottom: 10rem;
  margin-top: 1rem;
}
