.service-title {
  padding-top: 0;
  margin-top: 20px;
}
.under-title {
  height: 5px;
  width: 200px;
  background-color: skyblue;
  margin-left: auto;
  margin-right: auto;
}
.under-title-2 {
  height: 5px;
  width: 200px;
  background-color: skyblue;
  margin-left: auto;
  margin-right: auto;
}
.under-title-3 {
  height: 5px;
  width: 70px;
  background-color: skyblue;
  margin-left: auto;
  margin-right: auto;
}
.convenience-ser {
  padding-top: 10px;
}
.wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
  border-radius: 20px;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  position: relative;
  cursor: pointer;
}
.intro_convenience {
  opacity: 0;
  color: #ddd;
}
.box:hover .intro_convenience {
  animation: pulse;
  animation-duration: 0.3s;
  color: black;
  opacity: 1;
}
.link-convenience {
  font-size: 20px;
  color: black;
}
.link-convenience:hover {
  color: rgb(232, 235, 66);
}
.news-title {
  padding-top: 20px;
}
