html,
body {
  width: 100%;
  height: auto;
  font-family: "Koh Santepheap", cursive !important;
  font-size: 15px;
}
#container__fluid {
  background: #c2e59c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #c2e59c,
    #64b3f4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #c2e59c, #64b3f4);
  clip-path: ellipse(85% 78% at 50% 19%);
}
.container__title {
  padding-top: 10rem;
  animation: moveInLeft 1s ease-out;
  font-size: 4rem;
}
.container__text {
  text-align: left;
  font-size: 1.4rem;
  padding-bottom: 10rem;
  margin-top: 1rem;
  animation: moveInLeft 1s ease-out;
}
.img-fluid {
  animation: moveInBottom 1s ease-out;
}

#container__description img {
  animation: moveInLeft 1s ease-out;
}

#container__description {
  display: flex;
  justify-content: center;
}

.text__after-header--title {
  font-size: 3rem !important;
}

.text__after-header--title,
.text__after-header--text {
  animation: moveInBottom 1s ease-out;
  text-align: left;
}

.Integrity {
  --bg-color: #ffd861;
  --bg-color-light: #ffeeba;
  --text-color-hover: #4c5656;
  --box-shadow-color: rgba(255, 215, 97, 0.48);
  animation: moveInLeft 1s ease-out;
}

.Prompt {
  --bg-color: #b8f9d3;
  --bg-color-light: #e2fced;
  --text-color-hover: #4c5656;
  --box-shadow-color: rgba(184, 249, 211, 0.48);
  animation: moveInLeft 1s ease-out;
}

.Diversity {
  --bg-color: #ceb2fc;
  --bg-color-light: #f0e7ff;
  --text-color-hover: #4c5656;
  --box-shadow-color: rgba(206, 178, 252, 0.48);
  animation: moveInRight 1s ease-out;
}

.Develop {
  --bg-color: #dce9ff;
  --bg-color-light: #f1f7ff;
  --text-color-hover: #4c5656;
  --box-shadow-color: rgba(220, 233, 255, 0.48);
  animation: moveInRight 1s ease-out;
}

.card {
  width: 420px;
  height: 351px;
  background: #fff;
  border-top-right-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
  transition: all 0.3s ease-out;
  text-decoration: none;
  border: 0px solid !important;
}
#hr {
  border-top: 2px solid rgb(62, 44, 100);
  width: 95%;
  margin-bottom: 2rem;
}

.card:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
    0 24px 46px var(--box-shadow-color);
}

.card:hover .card--overlay {
  transform: scale(5) translateZ(0);
}

.card:hover .card--circle {
  border-color: var(--bg-color-light);
  background: var(--bg-color);
}

.card:hover .card--circle:after {
  background: var(--bg-color-light);
}

.card:hover p {
  color: var(--text-color-hover);
}

.card:active {
  transform: scale(1) translateZ(0);
  box-shadow: 0 15px 24px rgba(0, 0, 0, 0.11),
    0 15px 24px var(--box-shadow-color);
}

.card__text-center {
  font-size: 1.4rem;
  color: white;
  margin-top: 30px;
  z-index: 1;
  transition: color 0.3s ease-out;
}

.card--circle {
  width: 131px;
  height: 131px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease-out;
}

.card--circle:after {
  content: "";
  width: 118px;
  height: 118px;
  display: block;
  position: absolute;
  background: var(--bg-color);
  border-radius: 50%;
  top: 7px;
  left: 7px;
  transition: opacity 0.3s ease-out;
}

.card--circle svg {
  z-index: 1000;
  transform: translateZ(0);
}

.card--overlay {
  width: 118px;
  position: absolute;
  height: 118px;
  border-radius: 50%;
  background: var(--bg-color);
  top: 20px;
  left: 150px;
  z-index: 0;
  transition: transform 0.3s ease-out;
}
#hide {
  display: inline-block;
  margin-top: 2rem;
}

.modal-dialog {
  max-width: 800px !important;
  margin: 30px auto;
}
@media (max-width: 992px) {
  .modal-dialog {
    max-width: 600px !important;
    margin: 30px auto;
  }
}
@media (max-width: 768px) {
  .modal-dialog {
    max-width: 500px !important;
    margin: 30px auto;
  }
}
@media (max-width: 576px) {
  .modal-dialog {
    max-width: 400px !important;
    margin: 30px auto;
  }
}
@media (max-width: 375px) {
  .modal-dialog {
    max-width: 325px !important;
    margin: 30px auto;
  }
}
.modal-body {
  position: relative;
  padding: 0px;
}

.close {
  position: absolute;
  right: -2.5rem;
  top: -1rem;
  z-index: 999;
  font-size: 4rem !important;
  font-weight: normal;
  color: rgb(255, 2, 2) !important;
  opacity: 1;
}
.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  position: relative;
  transition: all 0.2s;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 100% !important;
}

.fa-play-circle {
  color: white;
}

.btn--white {
  background-color: #da3175 !important ;
  animation-name: ZoomIn-Out;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.btn--link,
.btn--link:link,
.btn--link:visited {
  display: inline-block;
  text-decoration: none;
  color: #5a73fc;
  border-bottom: 1px solid #5a73fc;
  padding-top: 0.3rem;
  font-size: 1rem;
  transition: all 0.2s;
  width: 7rem;
  height: 2rem;
  text-align: center;
}

.btn--link:hover {
  background-color: #5a73fc;
  color: white;
  box-shadow: 0 1rem 2rem rgba(black, 0.15);
  transform: translateY(-0.2rem);
}
.btn--link:active {
  box-shadow: 0 0.5rem 1rem rgba(black, 0.15);
  transform: translateY(0);
}

.btn--fake {
  background-color: #da3175 !important ;
  position: absolute;
}

.btn:hover {
  transform: translateY(3px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 10rem;
  transition: all 0.4s;
  z-index: -1;
}
.btn--fake::after {
  background-color: red !important;
  border-radius: 50% !important;
}
.btn:hover::after {
  transform: scaleX(1.6) scaleY(1.6);
  opacity: 0;
}

@keyframes ZoomIn-Out {
  0% {
    transform: scaleX(1.1) scaleY(1.1);
  }
  50% {
    transform: scaleX(1.2) scaleY(1.2);
  }

  100% {
    transform: scaleX(1.3) scaleY(1.4);
    opacity: 0;
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

#container__play {
  color: white;
  background: #c2e59c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #c2e59c,
    #64b3f4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #c2e59c, #64b3f4);
  padding: 100px 100px 100px 100px;
}

/*FAQ*/
.accordion__panel--text {
  text-align: left;
  font-size: 1.2rem;
}
.accordion {
  font-weight: 800 !important;
  animation: moveInLeft 1s ease-out;
  font-size: 1.5rem;
}
#imgFAQ {
  animation: moveInRight 1s ease-out;
}

/* Định dạng các button mô tả cho nội dung*/
button.accordion {
  background-color: transparent;
  color: black;
  cursor: pointer;
  margin-top: 2px;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Thêm màu nền cho button được active hoặc được hover*/
button.accordion.active {
  background-color: transparent;
  border-style: none !important;
  transform: translateY(-5px);
}
button.accordion:hover {
  border: none;
  transform: translateY(-5px);
}

/* Thiết lập cho phần nội dung, mặc định sẽ được ẩn đi */
div.accordion__panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  outline: 0;
}
button.accordion.active:focus {
  outline: none;
  border: none;
}
button.accordion:focus {
  outline: none;
}
/* -------- */

.container__fluid--header-title {
  font-size: 30px;
  font-weight: 600;
  position: relative;
  padding-bottom: 20px;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.container__fluid--header-title::before {
  position: absolute;
  content: "";
  width: 320px;
  height: 5px;
  background-color: #d8d8d8;
  bottom: 0;
  display: flex;
  justify-content: center;
}
.container__fluid--header-title::after {
  position: absolute;
  content: "";
  width: 150px;
  height: 5px;
  background-color: #ff7200;
  left: 0;
  bottom: 0;
  left: 33%;
  margin-left: -25px;
}

/* test */
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* .mb-4 {
  margin-bottom: 1.5rem !important;
} */
section {
  display: block;
  padding: auto;
}

.section-courses {
  padding: 10rem 0 10rem 0;
  /* margin-top: -20rem; */
  /* text-align: center; */
  background: #c2e59c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #c2e59c,
    #64b3f4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #c2e59c, #64b3f4);
  clip-path: ellipse(100% 48% at 50% 50%);
}

.card-link {
  perspective: 150rem;
  position: relative;
  height: 27rem;
  width: 75%;
  margin-top: 3rem;
  margin-left: 3rem;
  /* padding: 5rem 10rem 5rem 10rem; */
  animation: moveInBottom 1s ease-out;
}
.card-link__side {
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
  color: white;
  transition: all 0.8s ease;
  border-radius: 5rem;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  overflow-y: auto;
}
.card-link__side--front {
  background-color: #fff;
}
.card-link__side--back {
  transform: rotateY(180deg);
  background-color: #fff;
}
.card-link:hover .card-link__side--front {
  transform: rotateY(-180deg);
}
.card-link:hover .card-link__side--back {
  transform: rotateY(0);
}
.card-link__picture {
  background-size: cover;
  background-blend-mode: screen;
  height: 23rem;
  clip-path: ellipse(80% 70% at 50% 30%);
}
.card-link__picture--1 {
  background-image: url("/image/logo_90557395123343df97eebba6c27ee6e0_large.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150px 150px;
}
.card-link__picture--2 {
  background-image: url("/image/Vietlife.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150px 150px;
}
.card-link__picture--3 {
  background-image: url("/image/Medlatec.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150px 150px;
}
.card-link__picture--4 {
  background-image: url("/image/SaiGon.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200px 200px;
}

.card-link__picture--5 {
  background-image: url("/image/Dolife.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 150px 150px;
}

.card-link__picture--6 {
  background-image: url("/image/thucuc.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 300px 150px;
}

.card-link__picture--7 {
  background-image: url("/image/Vietsing.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 250px 250px;
}
.card-link__picture--8 {
  background-image: url("/image/Genetica.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200px 100px;
}

.card-link__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}
.card-link__define {
  font-size: 1rem !important;
  color: black !important;
  margin-top: 1rem !important;
}
.card-link__info {
  text-align: center;
  color: #fff;
  margin-bottom: 1rem;
}

#box_hover {
  max-width: 114rem;
}
/* -------- */
