
   <!-- Footer of the web-->
   <div id="footer">
    <div class="container-fluid mt-5 pt-5 ">
    <footer class="ml-xl-1 ml-md-1 ml-1 ">
        <div class="row justify-content-around">
            <div class=" col-8">
                <div class="row pt-5">
                    <div class="col-xl-4 col-12">
                                <h5 class="description-img"><b>We will be your best choice.</b></h5><img src="/image/LogoAi.png" class="img-fluid logo">
                    
                       
                    </div>
                        </div>
                    </div>
                    <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 my-auto ">
                        <div class="row justify-content-center">
                            <div class="col-md-3 col-12 mt-md-0 mt-3">
                                <h4>About us:</h4>
                             <p> We are group3 company! Our project is a Health Smart Prediction that will help you when you needed!!!</p> 
                             <div id="fab-icon" class="col-xl-4 col-6 "> 
                           <i class="fab fa-facebook fa-2x" href="#"></i>
                            <i class="fab fa-instagram fa-2x " href="#"></i>
                           <i class="fab fa-twitter fa-2x" href="#"></i>
                        </div>
                            </div>
                            <div class=" col-md-3 col-12 mt-md-0 mt-3">
                                <h4>Contacts:</h4>
                                <ul class="list-unstyled text-muted">
                                    <li><a href="tel:#"><i class="fas fa-phone">:</i>0912345678.</a></li>
                                    <li><a href="mailto: #"><i class="fas fa-mailbox">:</i>AIdoctor@email.com.</a></li>
                                    <li><a href="map:#"><i class="fas fa-map-marker-alt">:</i>Top Floor of Bitexco.</a></li>
                                </ul>
                            </div>
                            <div class="col-md-3 col-12 mt-md-0 mt-3">
                                <h4>Service:</h4>
                                <ul class="list-unstyled text-muted">
                                    <li>Health Prediction</li>
                                    <li>Appointment Booking</li>
                                    <li>Service Price List</li>
                                   
                                </ul>
                            </div>
                            <div class="col-md-auto col-12">
                                <h4>Feedback & Question:</h4>
                                <ul class="list-unstyled text-muted">
                                    <li><a href="Contact.html" style="color:white">Feedback:</a></li>
                                    <li><a href="Information.html#FAQ1" style="color:white">FAQ:</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mt-4 bottom-row justify-content-between">
                    <div class="col-auto ml-2 "><b>Made with ❤️ &#9400; by Group 3 in 2021.</b></div>
                    
                </div>
            </div>
        </div>
    </footer>
</div>
</div>