<link rel="stylesheet" href="/css/Appointment_with_a_doctor.css">

<body>
  <div class="container">
    <h1>Making an appointment with a doctor by AI Doctor</h1>
    <div class="row">
      <div style="animation: slideInLeft; animation-duration: 2s" class="text-center col-md-6">
        <img class="img-fluid" src="/image/doctor-icon-avatar-1.png" alt="making_appointment_with_doctor">
      </div>
      <div style="animation: slideInRight; animation-duration: 2s" class="col-md-6">
        <h2>AI Doctor</h2>
        <ul>
          <li>In case, the doctor evaluates your condition is not suitable for video consultation, the doctor will inform and advise you: Visit or schedule an appointment with the doctor for face-to-face examination, Go to the emergency department Go to the nearest hospital for diagnosis and treatment or Get a referral to see a specialist, radiologist, test.</li>
          <li>In addition, the booking will be completely done by the Customer Care team of AI Doctor. Therefore, the time to search for a reputable medical facility as well as to schedule your visit is significantly reduced.</li>
        </ul>
        <a target="_blank" href="Booking.hbs">
          <div class="visit-us">
            <img
              class="img-fluid"
              src="/image/LogoAI.png"
              alt="visit-us"
              height="100px"
              width="100px"
            />
            <a href="http://localhost:2000">If you want to know about more information,
              please clicking here to get your demand</a>
          </div>
        </a>
      </div>
    </div>
  </div>
</body>