    <link href="/css/Booking.css" rel="stylesheet" />

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    
    <!-- Library of CDN of Datatable -->
    <script
      src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"
    ></script>
    <script
      src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"
    ></script>
    <script
      src="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css"
    ></script>

    <script>
        $(document).ready(function() {
        // Cấu hình các nhãn phân trang
            $('#symptom-detail').dataTable( {
                "language": {
                "sInfoPostFix":  "",
                "sSearch":       "Find Doctor:",
                "sUrl":          "",
                "oPaginate": {
                "sFirst":    "The First",
                "sPrevious": "Previous",
                "sNext":     "Next",
                "sLast":     "The Last"
            }
        },
                "processing": true, // tiền xử lý trước
                "aLengthMenu": [[5, 10, 20, 50], [5, 10, 20, 50]], // danh sách số trang trên 1 lần hiển thị bảng
                //"order": [[ 1, 'desc' ]] //sắp xếp giảm dần theo cột thứ 1
            } );    
        } );
    </script>

    <!-- Fontawesome -->
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />

  <body>
    <nav>
      <div class="container-fluid padding" id="test">
        <div class="row text-center padding">
          <div class="col-md-6">
            <img src="/image/x_Browser_04-1.png" class="img-fluid" />
          </div>
          <div class="col-md-6">
            <h1 class="container__title">Technical Booking</h1>
            <br>
            <p class="container__text">A place that helps patients easily making an appointment with Doctor whom they want to have an advice. This Technical will help them to have an appointment as their wish.  At that time, they can have a chance to talk with doctor in order to improve their health.</p>
          </div>
        </div>
      </div>
    </nav>
    <!-- Content -->
    <div class="container">
      <h1 class="text-center booking-title">Making an opponent with a Doctor in
        AID</h1>
      <!-- Hoạt ảnh cho tiêu đề Booking-->
      <script>
        var booking_title = document.querySelector('.booking-title');
        booking_title.classList.add('animate__animated', 'animate__zoomIn');
        booking_title.style.setProperty('--animate-duration', '1.0s');
      </script>
      <!-- Kết thúc hoạt ảnh -->
      <form action="/booking" method="post">
        <div class="form-group">
          <label for="email">1. Email:</label>
          <input type="text" class="form-control" placeholder="Enter your email" id="email" name="email" required>
        </div>
        <p>2. List of doctors to select:</p>
        <table id="symptom-detail" class="table table-striped table-bordered table-dark table-hover">
          <thead>
            <tr>
              <th></th>
              <th>ID</th>
              <th>Doctor's name</th>
              <th>Department</th>
              <th>Hospital</th>
              <th>Date</th>
              <th>Email</th>
              <th>Phone number</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" id="bookingid1" name="bookingid" value="DT01">
                  </label>
                </div>
              </th>
              <th>DT01</th>
              <th>Moreyra Francisco Carlos</th>
              <th>Interal</th>
              <th>Vinmec Hospital</th>
              <th>Monday 13h-14h</th>
              <th>mfc@gmail.com</th>
              <th>0913457684</th>
            </tr>
            <tr>
              <th>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" id="bookingid2" name="bookingid" value="DT02">
                  </label>
                </div>
              </th>
              <th>DT02</th>
              <th>Le Huu Dong</th>
              <th>Interal</th>
              <th>Vinmec Hospital</th>
              <th>Tuesday 8h-9h</th>
              <th>lhdong@gmail.com</th>
              <th>0934175837</th>
            </tr>
            <tr>
              <th>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" id="bookingid3" name="bookingid" value="DT03">
                  </label>
                </div>
              </th>
              <th>DT03</th>
              <th>Nguyen Thi Minh Tam</th>
              <th>Interal</th>
              <th>Vinmec Hospital</th>
              <th>Friday 8h-9h</th>
              <th>ntmtam@gmail.com</th>
              <th>0987393741</th>
            </tr>
            <tr>
              <th>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" id="bookingid4" name="bookingid" value="DT04">
                  </label>
                </div>
              </th>
              <th>DT04</th>
              <th>Nguyen Thi Thu Hoa</th>
              <th>Interal</th>
              <th>Vinmec Hospital</th>
              <th>Saturday 8h-9h</th>
              <th>ntthoa@gmail.com</th>
              <th>0984617368</th>
            </tr>
            <tr>
              <th>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" id="bookingid5" name="bookingid" value="DT05">
                  </label>
                </div>
              </th>
              <th>DT05</th>
              <th>Huynh An Thien</th>
              <th>Interal</th>
              <th>Vinmec Hospital</th>
              <th>Thursday 10h-11h</th>
              <th>hathien@gmail.com</th>
              <th>0984716371</th>
            </tr>
            <tr>
              <th>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" class="form-check-input" id="bookingid6" name="bookingid" value="DT06">
                  </label>
                </div>
              </th>
              <th>DT06</th>
              <th>Pham Van Hung</th>
              <th>Interal</th>
              <th>Vinmec Hospital</th>
              <th>Wednesday 13h-14h</th>
              <th>phamvanhung@gmail.com</th>
              <th>0984716278</th>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th></th>
              <th>ID</th>
              <th>Doctor's name</th>
              <th>Department</th>
              <th>Hospital</th>
              <th>Date</th>
              <th>Email</th>
              <th>Phone number</th>
            </tr>
          </tfoot>
        </table>
        <div class="form-group">
          <label for="name">3. Any requirements ( If not, just type "NO"):</label>
          <input type="text" class="form-control" id="text-requirement" placeholder="If you have any requirements, just write these down." name="requirement" required>
        </div>
        <div class="form-group text-center">
          <button type="submit" class="btn btn-primary" onclick="submitBooking()">Submit form</button>
        </div>
        <script>
          function submitBooking() {
            var email = document.getElementById('email').value;
            var text_requirement = document.getElementById('text-requirement');
            if (email == "" || text_requirement == "") {
              swal("Booking Unsuccessfully", "Please input with full your information!", "error");
            }
            else {
              swal("Booking Successfully", "Please check your mail to confirm your appointment!", "success");
            }
          }
        </script>
      </form>
    </div>
    <!-- End of Content -->
  </body>
