 <link rel="stylesheet"  href="/css/Contact_us.css">
 <nav>
    <div class="container__fluid padding" id="container__fluid">
      <div class="row text-center padding">
        <div class="col-md-6">
          <img src="/image/contact.png" class="img-fluid">
        </div>

        <div class="col-md-6">
          <h1 class="container__title">Contact</h1>
          <br>
          <p class="container__text">&nbsp&nbsp&nbsp&nbspHow do you feel about using our service? Is it easy to use? Are there any bugs or issues? Does the consulting service satisfy you? If you are satisfied or have any suggestions you can send us below we will improve it to help AI Doctor become more and more perfect.</p>
        </div>
      </div>
    </div>
  </nav>

  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,800,900%7cRaleway:300,400,500,600,700"
    rel="stylesheet">
  <body>
 
    <div class="container">
      <h1 class="container__text-center">Contact us</h1>
    </div>

    <div class="form">

      <div class="form__comment_fly" id="form__comment-fly1"></div>
      <div class="form__comment_fly" id="form__comment-fly2"></div>
      <div class="form__comment_fly" id="form__comment-fly3"></div>

      <form id="form__waterform" method="POST" action="/feedback" >

        <div class="formgroup" id="name-form">
          <label for="name">Your name*</label>
          <input type="text" id="fullname" name="fullname">
        </div>

        <div class="formgroup" id="message-form">
          <label for="message">Your message</label>
          <textarea type="text" id="message" name="message" ></textarea>

     
        <div class="formgroup">
          <div class="formgroup__form-check">
            <input class="formgroup__form-check--input" type="radio" name="evaluate" id="evaluate1" value="Unsatisfied">
            <label class="formgroup__form-check--label" for="evaluate1">
              Unsatisfied
            </label>
          </div>
          <div class="formgroup__form-check">
            <input class="formgroup__form-check--input" type="radio" name="evaluate" id="evaluate2" value="Satisfied" checked>
            <label class="formgroup__form-check--label" for="evaluate2">
              Satisfied
            </label>
          </div>
          <div class="formgroup__form-check">
            <input class="formgroup__form-check--input" type="radio" name="evaluate" id="evaluate3" value="Extremely satisfied">
            <label class="formgroup__form-check--label" for="evaluate3">
              Extremely satisfied
            </label>
          </div>
      </div>

        <input  type="submit" id="content" value="Feedback" />
 

        {{!-- <div class="formgroup" id="comment">
          <label>all comments</label>
          <textarea readonly id="content1"></textarea>
        </div> --}}
      

      </form>
      
    </div> 

  <script type="text/javascript">
  $(document).ready(function()
    { 
       //khai báo biến submit form lấy đối tượng nút submit
       var submit = $("input[type='submit']");
 
       //khi nút submit được click
       submit.click(function()
       {
         //khai báo các biến dữ liệu gửi lên server
         var name = $("input[name='fullname']").val(); //lấy giá trị trong input user
         var message = $("textarea[name='message']").val();// giá trị message
        
          //Kiểm tra xem trường đã được nhập hay chưa
        
        if(name == ''){
          swal({
            title: "Oops...!",
            text: "Name is blank!",
            icon: "error",
            button: "Aww yiss!",
          });
            return false;
          
         }
           else if(message == ''){
            swal({
              title: "Oops...!",
              text: "Message is blank!",
              icon: "error",
              button: "Aww yiss!",
            });
            return false;
          
         }else{
           swal({
              title: "Good job!",
              text: "Thank you for your feedback!",
              icon: "success",
              button: "Aww yiss!",
            }).then(function(){
              location.reload();
            });
         }
     });
    });

    
  </script>

<!--
  <script type="text/javascript">
  $(document).ready(function()
    { 
       //khai báo biến submit form lấy đối tượng nút submit
       var submit = $("input[type='submit']");
 
       //khi nút submit được click
       submit.click(function()
       {
         //khai báo các biến dữ liệu gửi lên server
         var name = $("input[name='fullname']").val(); //lấy giá trị trong input user
         var message = $("textarea[name='message']").val();// giá trị message
        
          //Kiểm tra xem trường đã được nhập hay chưa
        
        if(name == ''){
          swal({
            title: "Oops...!",
            text: "Name is blank!",
            icon: "error",
            button: "Aww yiss!",
          });
            return false;
          
         }
           if(message == ''){
            swal({
              title: "Oops...!",
              text: "Message is blank!",
              icon: "error",
              button: "Aww yiss!",
            });
            return false;
          
         }
         
         //Lấy toàn bộ dữ liệu trong Form
         var datas = $('form#waterform').serialize();
       
         //Sử dụng phương thức Ajax.
         $.ajax({
               type : 'POST', //Sử dụng kiểu gửi dữ liệu GET
               url : '/feedback', //gửi dữ liệu sang trang #.php
               data : datas, //dữ liệu sẽ được gửi
               success : function(data)  // Hàm thực thi khi nhận dữ liệu được từ server
                         { 
                            if(data == 'false') 
                            {
                              swal( {
                                title: "Error...!",
                                text: "System error, please reload the web!",
                                icon: "warning",
                                button: "Aww yiss!",
                              });
                            }else{
                              $('#content1').html(data); //dữ liệu HTML trả về sẽ được chèn vào trong thẻ có id content
                              swal({
                                title: "Good job!",
                                text: "Thank you for your feedback!",
                                icon: "success",
                                button: "Aww yiss!",
                              });
                            }
                         }
               });
               return false;
         });
     });

    
  </script>
 -->
    <!-- <div>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d149134.12912316382!2d106.70801062905318!3d10.815247071869582!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBRdeG7kWMgVOG6vyAt!5e0!3m2!1svi!2s!4v1632753313229!5m2!1svi!2s"
        width="1340px" height="450" style="border:0;" allow="fullscreen" loading="lazy" id="map"></iframe>

    </div> -->