  <link rel="stylesheet" href="/css/Diagnose.css">

  <body>
    <!-- Giới thiệu trang Diagnose -->
    <nav>
      <div class="container-fluid padding" id="test">
        <div class="row text-center padding">
          <div class="col-md-6 introduce_left">
            <img src="/image/x_Browser_04-1.png" class="img-fluid" />
          </div>
          <div class="col-md-6 introduce_right">
            <h1 class="container__title">Technical Diagnosing</h1>
            <br>
            <p class="container__text">A place that helps patients easily diagnose their health by AI Doctor. This Technical will help them to know their illness. From that, they can imediately decide to make an appointment with doctor by face to face. At that time, they can have a chance to talk with doctor in order to improve their health.</p>
          </div>
        </div>
      </div>
    </nav>
    <!-- Kết thúc phần giới thiệu -->

    <!-- Content of Diagnose -->
    <div class="container">

      <h1 class="diagnose-title">Diagnosing by AID Technical</h1>
      <!-- Tiêu đề cho hoạt ảnh -->
      <script>
        var diagnose_title = document.querySelector('.diagnose-title');
        diagnose_title.classList.add('animate__animated', 'animate__fadeIn');
        diagnose_title.style.setProperty('--animate-duration', '1s');
      </script>
      <!-- Kết thúc hoạt ảnh -->

      <div class="container">
        <div class="row">
          <!-- Nội dung bên trái -->
          <div class="col-md-5 diagnose-box-left">
            <h4>What are you feeling ?</h4>
            <form id="diagnose-form" method="POST" action="/User/Services/Diagnose/diagnose" autocomplete="off">
              <!-- Input a symptom -->
              <div class="form-group container-fluid">
                <label id="form-title" for="hospital_name">Enter a symptom you are having</label>
                <input id="symptom-input" type="text" class="form-control" placeholder="Enter your symptom" name="name">
                <p class="mt-2">The symptom you have already entered:</p>
                <div id="inputted-text"></div>
              </div>
              <!-- Kết thúc input -->
              <!-- Button and function to search a symptom -->
              <div class="button-group">
                <button type="submit" class="btn btn-outline-primary mt-2 btn-search">Searching</button>
                <button id="reset-input" type="button" class="btn btn-outline-primary mt-2 btn-search" onclick="reset_input()">Reset</button>
              </div>
              <!-- Reset input -->
              <script>
                function reset_input() {
                  //var reset_input = document.getElementById("reset-input");
                  document.getElementById('symptom-input').value='';
                  document.getElementById('resultdetail').innerHTML='';
                }
              </script>
              <!-- Searching -->
              <script>
                $(document).ready(function() {
                  $('form').submit(function(event) {
                    $.ajax({
                      method: $(this).attr('method'),
                      url: $(this).attr('action'),
                      data: $(this).serialize(),
                    }).done(function(response) {
                      // Process the response here
                      //console.log(response);
                      var sym_input = document.getElementById("symptom-input").value;  
                      $('#resultdetail').append(response);
                      $('#inputted-text').append(sym_input);
                    });
                    event.preventDefault(); // <- avoid reloading
                  });
                });            
              </script> 
              <!-- End of button -->
            </form>
          </div>
          <!-- Kết thúc nội dung -->

          <!-- Hoạt ảnh cho diagnose-box-left -->
          <script>
            var diagnose_box_left =
            document.querySelector('.diagnose-box-left');
            diagnose_box_left.classList.add('animate__animated',
            'animate__fadeInLeft');
            diagnose_box_left.style.setProperty('--animate-duration', '1.5s');
          </script>
          <!-- Kết thúc hoạt ảnh -->

          <!-- Nội dung bên phải -->
          <div class=" col-md-7 diagnose-box-right">
            <h4>Information about your illness.</h4>
            <div class="container-fluid">
              <p>You have got</p>
              <div id="resultdetail"></div>
            </div>
            <a type="button" class="btn btn-outline-primary mt-2" href="/Users/Services/Booking">Make an oppointment</a>
          </div>
          <!-- Kết thúc nội dung -->

          <!-- Hoạt ảnh cho diagnose-box-right -->
          <script>
            var diagnose_box_right =
            document.querySelector('.diagnose-box-right');
            diagnose_box_right.classList.add('animate__animated',
            'animate__fadeInRight');
            diagnose_box_right.style.setProperty('--animate-duration', '1.5s');
          </script>
          <!-- Kết thúc hoạt ảnh -->

        </div>
      </div>
    </div>
    <!-- End of Content of Diagnose -->
  </body>
