
    <title>Forgot Password</title>
  <link rel="stylesheet" href="/css/forgot&renewpwd.css" />
  <body>
    <div class="wrapper">
      <div class="icon">
              <i class="fas fa-lock" ></i>
            </div>
        <div class="title-text">
           
            <div class="title forgot">
                Forgot Password
            </div>
        </div>
      <div class="form-container">
          <form action="/Users/ForgotPwd"  method="POST">
            <!--Forgot Password-->
            <div class="form-group">
              <label for="email">Email</label>
              <input
                type="email"
                id="email"
                name="email"
                class="form-control"
                placeholder="Enter Email"
   
              />
            </div>
            <div class="field btn">
              <div class="btn-layer btn btn-primary"></div>
              <button  type="submit" class="btn">Sent me a password reset link!</button>
            </div>
             <div class=" pass-link">
              <span> Remember your password?</span>
              <a href="/users/Login" >Login</a>
            </div>
          </form>
        </div>