  <meta charset="UTF-8" /> 
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/css/forgot&renewpwd.css" />
     <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />

  <body>
    <div class="wrapper">
      <div class="icon">
              <i class="fas fa-lock" ></i>
            </div>
        <div class="title-text">
           
            <div class="title forgot">
                Forgot Password
            </div>
        </div>
      <div class="form-container">
          <form action="http://localhost:2000/Login" id="forgot" target="_self" method="post">
            <!--Forgot Password-->
            <div class="field text-left">
                <div>
                  <b>Email:</b>
                 &emsp;
              <input
                type="text"
                placeholder="Your Email"
                required
              >
              </div>
            </div>
            <div class="field btn">
              <div class="btn-layer btn btn-primary"></div>
              <input  type="submit" value="Sent me a password reset link!" >
            </div>
             <div class=" pass-link">
              <span> Remember your password?</span>
              <a href="/users/Login" >Login</a>
            </div>
          </form>
        </div>