<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="stylesheet" href="/css/index.css" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <style>
      .btn { border-radius: 1rem; } .carousel-item .sapxep { float: left; }
      #new-slide { padding: 0 30px 0 30px; } .carousel-control-prev { top: 30%;
      bottom: 30%; width: 3%; background: gray; } .carousel-control-next { top:
      30%; bottom: 30%; width: 3%; background: gray; }
    </style>
  </head>
  <body>
    <!--Content-->
    <!--Phần chiếu slide hình ảnh-->
    <div class="container">
      <div id="demo" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              class="img-fluid"
              src="/image/slide-1.jpg"
              alt="img1"
              width="1920"
              height="800"
            />
          </div>
          <div class="carousel-item">
            <img
              class="img-fluid"
              src="/image/slide-2.jpg"
              alt="img2"
              width="1920"
              height="800"
            />
          </div>
          <div class="carousel-item">
            <img
              class="img-fluid"
              src="/image/slide-3.jpg"
              alt="img3"
              width="1920"
              height="800"
            />
          </div>
        </div>
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </div>
    <!--Nội dung chính của content-->
    <div class="container-fluid">
      <h2 class="service-title">Our AI Doctor ( AID ) Services</h2>
      <!--Hoạt ảnh cho h2-->
      <script>
        var service = document.querySelector(".service-title");
        service.classList.add('animate__animated', 'animate__backInLeft');
        service.style.setProperty('--animate-duration', '1.5s');
      </script>
      <!-- Kết thúc hoạt ảnh -->
      <div class="under-title"></div>
      <script>
        var service_1 = document.querySelector(".under-title");
        service_1.classList.add('animate__animated', 'animate__backInLeft');
        service_1.style.setProperty('--animate-duration', '1.5s');
      </script>
      <div class="container text-center mt-5 box-1">
        <div class="row service-detail-1">
          <!--Hoạt ảnh cho các dịch vụ chi tiết dòng 1-->
          <script>
            var service_detail_1 = document.querySelector(".service-detail-1");
            service_detail_1.classList.add('animate__animated',
            'animate__fadeInLeft');
            service_detail_1.style.setProperty('--animate-duration', '1.5s');
          </script>
          <!-- Kết thúc hoạt ảnh -->
          <div class="col-md-4">
            <div>
              <img
                src="https://theme.hstatic.net/1000382884/1000489473/14/hservice_icon1.png?v=2427"
                alt="health-diagnose"
              />
            </div>
            <div><h5>Online health diagnosis</h5></div>
            <div><p>Experience online health consulting services via video with
                a team of dedicated and experienced doctors in Vietnam after
                just a few simple steps on the phone.</p></div>
            <div><a
                href="#"
                class="btn btn-outline-primary mt-4"
                role="button"
              >Looking for more information</a></div>
          </div>
          <div class="col-md-4">
            <div>
              <img
                src="https://theme.hstatic.net/1000382884/1000489473/14/hservice_icon2.png?v=2427"
                alt="pills"
              />
            </div>
            <div><h5>Immediately pills sent</h5></div>
            <div><p>All medical records and prescriptions will be emailed to you
                right after the health diagnosing is over. Moreover, the
                medicine will also be delivered to you.</p></div>
            <div><a
                href="#"
                class="btn btn-outline-primary mt-4"
                role="button"
              >Looking for more information</a></div>
          </div>
          <div class="col-md-4">
            <div>
              <img
                src="https://theme.hstatic.net/1000382884/1000489473/14/hservice_icon3.png?v=2427"
                alt="appointment"
              />
            </div>
            <div><h5>Appointment with a doctor</h5></div>
            <div><p>The administrator will assign and help you schedule
                specialist visits, radiology, laboratory services. All medical
                facilities associated with AID are guaranteed for their
                reputation and service quality.</p></div>
            <div><a
                href="#"
                class="btn btn-outline-primary"
                role="button"
              >Looking for more information</a></div>
          </div>
        </div>
        <div class="row mt-5 service-detail-2">
          <!--Hoạt ảnh cho các dịch vụ chi tiết dòng 2-->
          <script>
            var service_detail_2 = document.querySelector(".service-detail-2");
            window.addEventListener("scroll", function(){ var x = pageYOffset;
            if (x > 10) { service_detail_2.classList.add('animate__animated',
            'animate__fadeInRight');
            service_detail_2.style.setProperty('--animate-duration', '1.5s'); }
            })
          </script>
          <!-- Kết thúc hoạt ảnh -->
          <div class="col-md-4">
            <div>
              <img
                src="https://theme.hstatic.net/1000382884/1000489473/14/hservice_icon4.png?v=2427"
                alt="patient"
              />
            </div>
            <div><h5>Online medical records</h5></div>
            <div><p>The information management system on the application saves
                the entire history of visits, prescriptions, indications through
                affiliated medical facilities as well as previous medical
                history, helping you to visit anywhere at any time. more
                convenient and precise way.</p></div>
            <div><a
                href="#"
                class="btn btn-outline-primary"
                role="button"
              >Looking for more information</a></div>
          </div>
          <div class="col-md-4">
            <div>
              <img
                src="https://theme.hstatic.net/1000382884/1000489473/14/hservice_icon5.png?v=2427"
                alt="multi-function-pharmacy"
              />
            </div>
            <div><h5>Multi-function pharmacy</h5></div>
            <div><p>Buy medicines in person and listen to online consultations
                with doctors through the Doctor Anywhere app at the virtual
                clinic located at each pharmacy in the AID chain.</p></div>
            <div><a
                href="#"
                class="btn btn-outline-primary mt-5"
                role="button"
              >Looking for more information</a></div>
          </div>
          <div class="col-md-4">
            <div>
              <img
                src="https://theme.hstatic.net/1000382884/1000489473/14/hservice_icon6.png?v=2427"
                alt="Multi-purpose-clinic"
              />
            </div>
            <div><h5>Multi-purpose clinic</h5></div>
            <div><p>The clinic model is upgraded, providing both face-to-face
                and video examination services, minimizing waiting time but
                still receiving quality care from the team of doctors and nurses
                at the clinic.</p></div>
            <div><a
                href="#"
                class="btn btn-outline-primary mt-4"
                role="button"
              >Looking for more information</a></div>
          </div>
        </div>
      </div>
    </div>
    <!--Tiện ích của việc sử dụng AID-->
    <h2 class="service-title mt-3 convenience-ser">Convenience when using our
      services</h2>
    <!-- Hoạt ảnh cho tiêu đề tiện ích -->
    <script>
      var con_ser = document.querySelector(".convenience-ser");
      window.addEventListener("scroll", function(){ var x = pageYOffset; if ( x
      > 300) { con_ser.classList.add('animate__animated',
      'animate__fadeInDown'); con_ser.style.setProperty('--animate-duration',
      '1.5s'); } })
    </script>
    <!-- Kết thúc hoạt ảnh -->
    <div class="h2-title under-title-2"></div>
    <script>
      var h2_title = document.querySelector(".h2-title");
      window.addEventListener("scroll", function(){ var x = pageYOffset; if ( x
      > 350) { h2_title.classList.add('animate__animated',
      'animate__fadeInDown'); h2_title.style.setProperty('--animate-duration',
      '2s'); } })
    </script>
    <div class="container-fluid wrapper mt-4 text-center">
      <div class="row text-center utility-of-AID">
        <!--Hoạt ảnh cho tiện ích khi sử dụng AID-->
        <script>
          var utility_detail = document.querySelector(".utility-of-AID");
          window.addEventListener("scroll", function(){ var x = pageYOffset;
          if(x > 400) { utility_detail.classList.add('animate__animated',
          'animate__fadeInDown');
          utility_detail.style.setProperty('--animate-duration', '1.5s'); } })
        </script>
        <!-- Kết thúc hoạt ảnh -->
        <div
          class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 card-convenience"
        >
          <div class="box">
            <img
              src="/image/image-1.jpg"
              alt="images1"
              width="200"
              height="200"
            />
            <a class="link-convenience" href="#">No need to wait for a
              consultation</a>
            <p class="intro_convenience">Did you know that while the average
              waiting time in line to receive a consultation at the clinic can
              be up to 90 minutes while the doctor of AI Doctor Vietnam is just
              a few minutes away from you by phone call.</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
          <div class="box">
            <img
              src="/image/image-2.jpg"
              alt="images2"
              width="200"
              height="200"
            />
            <a class="link-convenience" href="#">Transparent costs</a>
            <p class="intro_convenience">Did you know that while the average
              waiting time in line to receive a consultation at the clinic can
              be up to 90 minutes while the doctor of AI Doctor Vietnam is just
              a few minutes away from you by phone call.</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
          <div class="box">
            <img
              src="/image/image-3.jpg"
              alt="image3"
              width="200"
              height="200"
            />
            <a class="link-convenience" href="#">Direct drug delivery</a>
            <p class="intro_convenience">Did you know that while the average
              waiting time in line to receive a consultation at the clinic can
              be up to 90 minutes while the doctor of AI Doctor Vietnam is just
              a few minutes away from you by phone call.</p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
          <div class="box">
            <img
              src="/image/image-4.jpg"
              alt="images4"
              width="200"
              height="200"
            />
            <a class="link-convenience" href="#">Series of supporting papers</a>
            <p class="intro_convenience">Did you know that while the average
              waiting time in line to receive a consultation at the clinic can
              be up to 90 minutes while the doctor of AI Doctor Vietnam is just
              a few minutes away from you by phone call.</p>
          </div>
        </div>
      </div>
    </div>
    <!--Phần tin tức của AID-->
    <div class="container">
      <h2 class="mb-2 news-title">Featured news</h2>
      <!--Hoạt ảnh cho new title-->
      <script>
        var news = document.querySelector(".news-title");
        window.addEventListener("scroll", function(){ var x = pageYOffset; if(x
        > 700) { news.classList.add('animate__animated', 'animate__flipInX');
        news.style.setProperty('--animate-duration', '1s'); } })
      </script>
      <!-- Kết thúc hoạt ảnh -->
      <div class="under-title-3"></div>
      <script>
        var under_title_3 = document.querySelector(".under-title-3");
        window.addEventListener("scroll", function(){ var x = pageYOffset; if(x
        > 700) { under_title_3.classList.add('animate__animated',
        'animate__flipInX');
        under_title_3.style.setProperty('--animate-duration', '1s'); } })
      </script>
      <div class="row">
        <div class="col-md-12">
          <div
            id="news-carousel"
            class="carousel slide animation-carousel mt-3"
            data-ride="carousel"
          >
            <!--Hoạt ảnh cho slide tin tức-->
            <script>
              var anim_carousel = document.querySelector(".animation-carousel");
              window.addEventListener("scroll", function(){ var x = pageYOffset;
              if(x > 800) { anim_carousel.classList.add('animate__animated',
              'animate__zoomIn');
              anim_carousel.style.setProperty('--animate-duration', '1.5s'); }
              })
            </script>
            <!-- Kết thúc hoạt ảnh -->
            <div class="carousel-inner text-center">
              <div class="carousel-item active mt-2 mb-2">
                <div id="new-slide" class="col-md-4 sapxep">
                  <img
                    id="news"
                    height="400"
                    width="300"
                    class="img-fluid"
                    src="/image/new-1.jpg"
                    alt="new-1"
                  />
                  <h5>AI Doctor gọi vốn thành công series C trị giá 88 triệu
                    đôla Singapore</h5>
                  <a href="#">Tính từ đầu năm 2021, công ty đạt mức tăng trưởng
                    500% trong hoạt động kinh doanh. Khoản đầu tư này góp phần
                    củng cố vị trí dẫn đầu trong thị trường AID,...</a>
                </div>
                <div id="new-slide" class="col-md-4 sapxep">
                  <img
                    id="news"
                    height="400"
                    width="300"
                    class="img-fluid"
                    src="/image/new-2.jpg"
                    alt="new-2"
                  />
                  <h5>Tư vấn sức khỏe trực tiếp miến phí với bác sĩ qua ứng dụng
                    AID</h5>
                  <a href="#">AI Doctor đồng hành cùng Việt Nam kiên cường chống
                    dịch. Tình hình dịch bệnh vẫn có những diễn biến phức tạp
                    vơi số ca mắc tăng nhanh. Nhưng đùng vì thế mà nản lòng,...</a>
                </div>
                <div id="new-slide" class="col-md-4 sapxep">
                  <img
                    id="news"
                    height="400"
                    width="300"
                    class="img-fluid"
                    src="/image/new-3.jpg"
                    alt="new-3"
                  />
                  <h5>AI Doctor Việt Nam hợp tác với công ty Bảo hiểm Bưu Điện (
                    PTI )</h5>
                  <a href="#">Công ty Cổ phần AI Doctor Việt Nam và Tổng Công ty
                    Cổ phần Bảo hiểm Bưu điện ( PTI ) đã ký kết thỏa thuận hợp
                    tác chiến lược tại Hà Nội ngày 30/12/2021. Hai bên...</a>
                </div>
              </div>
              <div class="carousel-item mt-2 mb-2">
                <div id="new-slide" class="col-md-4 sapxep">
                  <img
                    id="news"
                    height="400"
                    width="300"
                    class="img-fluid"
                    src="/image/new-4.png"
                    alt="new-4"
                  />
                  <h5>Hoan hỉ khai trương với cửa hàng trực tuyến của AI Doctor</h5>
                  <a href="#">Từ hôm nay, kênh bán hàng trực tuyến của AID chính
                    thức đi vào hoạt động tại địa chỉ
                    abcxyz.metqua.chaydeadlineohoai.vn. Với cửa hàng trực tuyến
                    AID, bạn có thể mua,...</a>
                </div>
                <div id="new-slide" class="col-md-4 sapxep">
                  <img
                    id="news"
                    height="400"
                    width="300"
                    class="img-fluid"
                    src="/image/new-5.jpg"
                    alt="new-5"
                  />
                  <h5>Chat với bác sĩ: Chăm sóc sức khỏe của Mẹ và Bé</h5>
                  <a href="#">Ở AID chúng tôi có thể chăm sóc sức khỏe trực
                    tuyến của mọi người thông qua một app siêu xịn xò là Zalo
                    hahaha</a>
                </div>
                <div id="new-slide" class="col-md-4 sapxep">
                  <img
                    id="news"
                    height="400"
                    width="300"
                    class="img-fluid"
                    src="/image/new-6.png"
                    alt="new-6"
                  />
                  <h5>Không chỉ khỏe mà còn đẹp với AI Doctor và Elite Fitness</h5>
                  <a href="#">"Cặp đôi hoàn hảo" - AI Doctor và Elite Fitness
                    cùng hướng tới mục tiêu mang chăm sóc và bảo vệ sức khỏe cho
                    người dùng. AID và Elite Fitness rất vui mừng khi,...</a>
                </div>
              </div>

            </div>
            <a
              class="carousel-control-prev"
              href="#news-carousel"
              data-slide="prev"
            >
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a
              class="carousel-control-next"
              href="#news-carousel"
              data-slide="next"
            >
              <span class="carousel-control-next-icon"></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>