<html lang="en">
  <head>
    <title>Immediately pills sent</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="stylesheet" href="/css/Immediately_pills_sent.css" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <style>
      h2 { padding-top: 0px }

    </style>
  </head>
  <body>
    <!-- Content of this page -->
    <div class="container">
      <h1 class="mt-4 mb-3">Prescription and hand delivery</h1>
      <div class="row no-center mt-4">
        <div
          style="animation: bounceInLeft; animation-duration: 2s;"
          class="col-md-6"
        >
          <img
            style="border-radius: 10px;"
            class="img-fluid"
            src="/image/hand-delivery.jpg"
            alt="hand-delivery"
          />
        </div>
        <div class="col-md-6 IPS-right">
          <h2 style="color: #a6d377;">AI Doctor</h2>
          <ul>
            <li>Medical record with doctor's diagnosis, prescription and other
              relevant documents will be sent to your email immediately after
              the end of the online consultation session. You can choose to buy
              your medicine directly at any pharmacy in the Doctor Anywhere
              Vietnam network or get it delivered to your hand within 3 hours of
              your confirmation of the prescription.</li>
            <li>Through this form, you are assured of using the right medicine,
              treating the right disease, minimizing the cost and time of
              treatment.</li>
          </ul>
          <a href="index.html">
            <div class="visit-us">
              <img
                class="img-fluid"
                src="/image/LogoAI.png"
                alt="visit-us"
                height="100px"
                width="100px"
              />
              <a href="index.html">If you want to know about more information,
                please clicking here to get your demand</a>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="container">
      <h3 class="no-center-2 mt-3">Delivery policy</h3>
      <div class="row box-delivery mt-3">
        <div class="col-md-3 delivery-left">
          <img
            class="img-fluid"
            src="/image/delivery-1.png"
            alt="delivery-1"
            height="100px"
            width="100px"
          />
          <p class="title-delivery">Transport fee</p>
        </div>
        <div class="col-md-9">
          <p>We offer free shipping and installation nationwide. The exact
            delivery time is notified by the delivery staff, or the customer can
            schedule it for the staff to deliver on time.</p>
        </div>
        <div class="col-md-3 delivery-left">
          <img
            class="img-fluid"
            src="/image/delivery-2.png"
            alt="delivery-2"
            height="100px"
            width="100px"
          />
          <p class="title-delivery">The process of shipping and receiving the
            product</p>
        </div>
        <div class="col-md-9">
          <p>Buyer receives delivery time confirmation call from seller's
            authorized shipper. Buyer checks the product and invoice, then signs
            the receipt and pays with the delivery staff.</p>
          <p>The buyer has the right to refuse to receive the goods in the
            following cases: the shape, color, size or product code is not the
            same as the product ordered by the buyer on the website; the value
            of the goods is different from the value of the order placed by the
            buyer</p>
        </div>
        <div class="col-md-3 delivery-left">
          <img
            class="img-fluid"
            src="/image/delivery-3.png"
            alt="delivery-3"
            height="100px"
            width="100px"
          />
          <p class="title-delivery">Receiving a product</p>
        </div>
        <div class="col-md-9">
          <p>You can completely open the package to check the product before
            paying or before shipping it out.</p>
          <p>Trong trường hợp quý khách gặp vấn đề phát sinh Quý khách liên hệ
            ngay đến chúng tôi để được hỗ trợ kịp thời</p>
          <p>Orders can be delivered up to 3 times (If the first time the order
            isnt delivered successfully, the staff will contact you for the
            second time in the next 2 working days.So after 3 unsuccessful
            transactions. order will be canceled)</p>
        </div>
      </div>
    </div>
    <!-- End of content -->

  </body>
</html>