<link rel="stylesheet" href="/css/Internal_doctor.css" />
<body>
    <div class="container">
        <h1 class="text-center mt-3">Internal Doctor</h1>
        <div class="row mt-4 doctor-list">
            <!-- Row 1 -->
            <div class="col-md-4 ">
                <img class="img-fluid" src="https://vinmec-prod.s3.amazonaws.com/images/26_03_2019_04_10_56_580555.jpeg" alt="inter-bacsi1">
                <h3 class="text-center mt-3">Moreyra Francisco Carlos</h3>
                <p class="background-doctor mt-3">
                    <span><i class="fas fa-user-md"></i> Cardiologist</span>
                    <span><i class="fas fa-building"></i> Department of Medical Examination and Internal Medicine - Vinmec Nha Trang International Hospital</span>
                    <span><i class="fas fa-stethoscope"></i> General health check, Cardiovascular Internal Medicine,...</span>
                    <a href="https://www.vinmec.com/vi/danh-sach/bac-si/moreyra-francisco-carlos-51184/kham-benh">More information</a>
                </p>
            </div>
            <div class="col-md-4 ">
                <img class="img-fluid" src="https://vinmec-prod.s3.amazonaws.com/images/16_07_2016_02_17_45_606925.jpeg" alt="inter-bacsi2">
                <h3 class="text-center mt-3">Le Huu Dong</h3>
                <p class="background-doctor mt-3">
                    <span><i class="fas fa-user-md"></i> Head of Department of Examination Internal Medicine</span>
                    <span><i class="fas fa-building"></i> Department of Medical Examination and Internal Medicine - Vinmec Nha Trang International Hospital</span>
                    <span><i class="fas fa-stethoscope"></i> Cardiovascular Internal Medicine, Internal general...</span>
                    <a href="https://www.vinmec.com/vi/danh-sach/bac-si/le-huu-dong-24449/noi-tim-mach">More information</a>
                </p>
            </div>
            <div class="col-md-4 ">
                <img class="img-fluid" src="https://vinmec-prod.s3.amazonaws.com/images/2015-12-30_040326.0465870000.jpeg" alt="inter-bacsi3">
                <h3 class="text-center mt-3">Nguyen Thi Minh Tam</h3>
                <p class="background-doctor mt-3">
                    <span><i class="fas fa-user-md"></i> Head of Vinmec Royal City Clinic</span>
                    <span><i class="fas fa-building"></i> Vinmec Royal City International Clinic</span>
                    <span><i class="fas fa-stethoscope"></i> Internal general, Vaccination,...</span>
                    <a href="https://www.vinmec.com/vi/danh-sach/bac-si/nguyen-thi-minh-tam-4987/noi-tong-hop">More information</a>
                </p>
            </div>
            <!-- End of row 1 -->

            <!-- Row 2 -->
            <div class="col-md-4 ">
                <img class="img-fluid" src="https://vinmec-prod.s3.amazonaws.com/images/2015-12-31_020407.3089010000.jpeg" alt="inter-bacsi4">
                <h3 class="text-center mt-3">Nguyen Thi Thu Hoa</h3>
                <p class="background-doctor mt-3">
                    <span><i class="fas fa-user-md"></i> Head of Department of Examination and Internal Medicine</span>
                    <span><i class="fas fa-building"></i> Department of Medical Examination and Internal Medicine - Vinmec Central Park International General Hospital</span>
                    <span><i class="fas fa-stethoscope"></i> General health check, Internal Musculoskeletal, Digest, Hematology,...</span>
                    <a href="https://www.vinmec.com/vi/danh-sach/bac-si/nguyen-thi-thu-ha-5052/kham-benh">More information</a>
                </p>
            </div>
            <div class="col-md-4 ">
                <img class="img-fluid" src="https://vinmec-prod.s3.amazonaws.com/images/01_07_2020_06_45_32_982234.jpeg" alt="inter-bacsi5">
                <h3 class="text-center mt-3">Huynh An Thien</h3>
                <p class="background-doctor mt-3">
                    <span><i class="fas fa-user-md"></i> Neuroendocrinologist</span>
                    <span><i class="fas fa-building"></i> Department of Examination and Internal Medicine - Vinmec Da Nang International Hospital</span>
                    <span><i class="fas fa-stethoscope"></i> Neuroendocrine, Endocrine, Internal general,...</span>
                    <a href="https://www.vinmec.com/vi/danh-sach/bac-si/huynh-an-thien-51237/than-kinh">More information</a>
                </p>
            </div>
            <div class="col-md-4 ">
                <img class="img-fluid" src="https://vinmec-prod.s3.amazonaws.com/images/01_07_2020_07_11_50_481092.jpeg" alt="inter-bacsi6">
                <h3 class="text-center mt-3">Pham Van Hung</h3>
                <p class="background-doctor mt-3">
                    <span><i class="fas fa-user-md"></i> Interventional cardiologist</span>
                    <span><i class="fas fa-building"></i> Department of Examination and Internal Medicine - Vinmec Da Nang International Hospital</span>
                    <span><i class="fas fa-stethoscope"></i> Internal general, Heart Checking,...</span>
                    <a href="https://www.vinmec.com/vi/danh-sach/bac-si/pham-van-hung-51240/tim-mach">More information</a>
                </p>
            </div>
            <!-- End of row 2 -->

            <!-- Row 3 -->
            <div class="col-md-4 ">
                <img class="img-fluid" src="https://vinmec-prod.s3.amazonaws.com/images/18_08_2020_02_44_10_125394.jpeg" alt="inter-bacsi7">
                <h3 class="text-center mt-3">Phan Dinh Thuy Tien</h3>
                <p class="background-doctor mt-3">
                    <span><i class="fas fa-user-md"></i> General Internal Medicine Doctor</span>
                    <span><i class="fas fa-building"></i> Department of Medical Examination and Internal Medicine - Vinmec Nha Trang International Hospital</span>
                    <span><i class="fas fa-stethoscope"></i> Digest, Cardiovascular, Internal general,...</span>
                    <a href="https://www.vinmec.com/vi/danh-sach/bac-si/phan-dinh-thuy-tien-51160/tieu-hoa-gan-mat">More information</a>
                </p>
            </div>
            <div class="col-md-4 ">
                <img class="img-fluid" src="https://vinmec-prod.s3.amazonaws.com/images/01_07_2020_06_59_04_537945.jpeg" alt="inter-bacsi8">
                <h3 class="text-center mt-3">Nguyen Quoc Viet</h3>
                <p class="background-doctor mt-3">
                    <span><i class="fas fa-user-md"></i> Interventional Cardiologist</span>
                    <span><i class="fas fa-building"></i> Department of Examination and Internal Medicine - Vinmec Da Nang International Hospital</span>
                    <span><i class="fas fa-stethoscope"></i> Heart Checking, Cardiovascular intervention, Internal general, Cardiovascular,...</span>
                    <a href="https://www.vinmec.com/vi/danh-sach/bac-si/nguyen-quoc-viet-51313/tim-mach">More information</a>
                </p>
            </div>
            <div class="col-md-4 ">
                <img class="img-fluid" src="	https://vinmec-prod.s3.amazonaws.com/images/30_09_2019_11_39_31_753764.jpeg" alt="inter-bacsi9">
                <h3 class="text-center mt-3">Nguyen Hong Phuc</h3>
                <p class="background-doctor mt-3">
                    <span><i class="fas fa-user-md"></i> General Internal Medicine Doctor</span>
                    <span><i class="fas fa-building"></i> Emergency Resuscitation Department - Vinmec Phu Quoc International General Hospital</span>
                    <span><i class="fas fa-stethoscope"></i> Internal general, Heart Checking,...</span>
                    <a href="https://www.vinmec.com/vi/danh-sach/bac-si/nguyen-hong-phuc-50995/noi-tong-hop">More information</a>
                </p>
            </div>
            <!-- End of row 3 -->

            <!-- Row 4 -->
            <div class="col-md-4 ">
                <img class="img-fluid" src="https://vinmec-prod.s3.amazonaws.com/images/12_02_2019_10_26_03_619286.mpo" alt="inter-bacsi10">
                <h3 class="text-center mt-3">Nong The Doan</h3>
                <p class="background-doctor mt-3">
                    <span><i class="fas fa-user-md"></i> General Internal Medicine Doctor</span>
                    <span><i class="fas fa-building"></i> Inpatient Unit of Regenerative Medicine and Cell Therapy - Vinmec Times City International General Hospital</span>
                    <span><i class="fas fa-stethoscope"></i> Resuscitation, Internal general,...</span>
                    <a href="https://www.vinmec.com/vi/danh-sach/bac-si/nong-the-doan-51023/hoi-suc-cap-cuu">More information</a>
                </p>
            </div>
            <div class="col-md-4 ">
                <img class="img-fluid" src="https://vinmec-prod.s3.amazonaws.com/images/22_02_2019_03_53_14_005852.jpeg" alt="inter-bacsi11">
                <h3 class="text-center mt-3">Nguyen Thi My</h3>
                <p class="background-doctor mt-3">
                    <span><i class="fas fa-user-md"></i> General Internal Medicine Doctor</span>
                    <span><i class="fas fa-building"></i> Department of Examination and Internal Medicine - Vinmec Da Nang International Hospital</span>
                    <span><i class="fas fa-stethoscope"></i> Vaccination, Internal general,...</span>
                    <a href="https://www.vinmec.com/vi/danh-sach/bac-si/nguyen-thi-my-51068/noi-tong-hop">More information</a>
                </p>
            </div>
            <div class="col-md-4 ">
                <img class="img-fluid" src="https://vinmec-prod.s3.amazonaws.com/images/22_02_2019_05_01_06_943158.jpeg" alt="inter-bacsi12">
                <h3 class="text-center mt-3">Le Thien Quang</h3>
                <p class="background-doctor mt-3">
                    <span><i class="fas fa-user-md"></i> Oncology Internal Medicine Doctor</span>
                    <span><i class="fas fa-building"></i> Department of Examination and Internal Medicine - Vinmec Da Nang International Hospital</span>
                    <span><i class="fas fa-stethoscope"></i> General health check, Oncology-Radiotherapy, Internal general,...</span>
                    <a href="https://www.vinmec.com/vi/danh-sach/bac-si/le-thien-quang-51070/kham-benh">More information</a>
                </p>
            </div>
            <!-- End of row 4 -->
        </div>
    </div>
</body>