<link rel="stylesheet" href="/css/Nutrition.css">

<body>
    <section>
	<div class=" container">
		<div class="inner">
			<div class="section-title wow fadeInDown text-center">
				<h2>
					Nutrition 
				</h2>
				<span class="section-title-border"></span>
			</div>
			<div class="wrapper">
                <div class="row">
                <div class="col-lg-4 col-md-4  ">
                    <div class="nutri-item text-center">
                        <div class="nutri-i">
                         <span>  <i class="fab fa-nutritionix"></i></span>
                        </div>
                        <div class="nutri-title ">
                            <h4>Nuts:</h4>
                        </div>
                        <div class="nutri-desc">
                            You should eat more nuts for more resistance, nutrient absorption, and many other supplements. With nuts that are very good for the body such as: pine nuts, walnuts, cashews, chestnuts, almonds, peanuts, lotus seeds, macadamia nuts...
                        </div>
                        <div class="nutri-viewmore btn-viewmore">
                            <a href="https://tuikhoeconban.com/hat-dinh-duong-tot/"> See more:</a>
                        </div>
                    </div>
                </div>
								
				<div class="col-lg-4 col-md-4 ">
					<div class="nutri-item text-center">
						<div class="nutri-i">
                            <span><i class="fas fa-mug-hot"></i></span>
						</div>
						<div class="nutri-title">
							<h4>Milk:</h4>
						</div>
						<div class="nutri-desc">
							When you are sick, you should add milk to help your body have more protein and moderate fat. Helps the body not to be depressed, if you can't feel good eating. Should drink less sweet milk if you are afraid of getting fat
						</div>
						<div class="nutri-viewmore btn-viewmore">
							<a href="https://www2.organic-center.org/what-are-benefits-organic-milk-and-dairy-products#:~:text=Drinking%20organic%20milk%20%E2%80%93%20high%20in,6%20and%20suppress%20these%20diseases!&text=Organic%20milk%20has%20been%20found,%E2%80%93%20than%20non%2Dorganic%20milk.">
                            See more:</a>
						</div>
					</div>
				</div>
					
				<div class="col-lg-4 col-md-4 ">
					<div class="nutri-item text-center">
						<div class="nutri-i">
							<span><i class="fas fa-carrot"></i></span>
						</div>
						<div class="nutri-title">
                            <h4> Vegetable:</h4>
						</div>
						<div class="nutri-desc">
                            Vegetable help you improve your health very very good.Its help you to suck out the unhealthy fat that you consume into your body.Which help with your gastrointestinal system. So you don't mind about your stomach if you eat vegetables before,after and in the meal.
						</div>
						<div class="nutri-viewmore btn-viewmore">
							<a href="https://www.medicalnewstoday.com/articles/323319">See more:</a>
						</div>
					</div>
				</div>
			 
				<div class="col-lg-4 col-md-4 ">
					<div class="nutri-item text-center">
						<div class="nutri-i">
                        <span><i class="fas fa-fish"></i></span>
						</div>
						<div class="nutri-title">
                            <h4>Fish:</h4>
						</div>
						<div class="nutri-desc">
                            Fish help yourself, to consume more vitamin and omega-3 for your eyes. Your vitamin B for your minds. Which get you to think more fluently
						</div>
						<div class="nutri-viewmore btn-viewmore">
							<a href="https://www.doh.wa.gov/communityandenvironment/food/fish/healthbenefits#:~:text=Fish%20is%20filled%20with%20omega,part%20of%20a%20healthy%20diet.">See more:</a>
						</div>
					</div>
				</div>
					
				<div class="col-lg-4 col-md-4">
					<div class="nutri-item text-center">
						<div class="nutri-i">
							<span><i class="fas fa-drumstick-bite"></i></span>
						</div>
						<div class="nutri-title">
                            <h4> Chicken:</h4>
						</div>
						<div class="nutri-desc">
                            Chicken gives you more fiber and protein, but can help you lose fat if you cook it in the direction of boiling, steaming and grilling. And the chicken is also very good. But should not be used to drink can make your health worseChicken provides you more proteins, 
						</div>
						<div class="nutri-viewmore btn-viewmore">
							<a href="https://www.webmd.com/diet/health-benefits-chicken">See more:</a>
						</div>
					</div>
				</div>
						
				<div class="col-lg-4 col-md-4 ">
					<div class="nutri-item text-center">
						<div class="nutri-i">
							<span><i class="fas fa-bacon"></i></span>
						</div>
						<div class="nutri-title">
							<h4> Meats:</h4>
						<div class="nutri-desc">
                            Meats improve your strength, get into you a lot of energy. Provide more iron, blood choresterol. Improve fat if you are too skinny. Good with beer :3A healthy balanced diet can include protein from meat, as well as from fish and eggs or non-animal sources such as beans and pulses. Meats such as chicken, pork, lamb and beef are all rich in protein. Red meat provides us with iron, zinc and B vitamins. Meat is one of the main sources of vitamin B12 in the diet.
						</div>
						<div class="nutri-viewmore btn-viewmore">
							<a href="https://www.healthline.com/nutrition/top-9-healthiest-foods-to-eat">See More:</a>
						</div>
					</div>
				</div>
				   </div>			
			</div>
		</div>
	</div>
</section> 
</body>