    <link rel="stylesheet" href="/css/online_health_diagnosis.css" />

  <body>
    <!-- Content of this page -->
    <!-- Phần 1 của web này -->
    <div class="container">
      <h1 class="mt-4">Online Health Diagnosis</h1>
      <div class="row OHD">
        <div class="col-md-6 OHD-left">
          <h2>AI Doctor</h2>
          <ul>
            <li>
              Without wasting time searching, registering and queuing, we bring
              reputable doctors in Vietnam to you with just a few simple steps
              on your smartphone. AI Doctor can diagnose and treat many common
              diseases of all ages, prescribe medicines, issue health
              certificates or refer to other specialized medical facilities in
              the network. You can also make an appointment with your preferred
              doctor for future follow-up visits or consultations.
            </li>
            <li>
              Please refer to the list of some common symptoms and medical
              problems below. We can advise you on those matters and much more.
            </li>
          </ul>
          <a href="index.html">
            <div class="visit-us">
              <img
                class="img-fluid"
                src="/image/LogoAI.png"
                alt="visit-us"
                height="100px"
                width="100px"
              />
              <a href="index.html">If you want to know about more information,
                please clicking here to get your demand</a>
            </div>
          </a>
        </div>
        <div class="col-md-6">
          <img
            style="animation: backInRight; animation-duration: 2s;"
            class="img-fluid"
            src="/image/online_health_diagnosis.png"
            alt="online_health_diagnosis"
          />
        </div>
      </div>
    </div>
    <!-- Kết thúc phần 1 -->
    <!-- Phần 2 của web này -->
    <div class="container">
      <h3 class="text-center">Diseases commonly seen by patients</h3>
      <div
        style="animation: bounceIn; animation-duration: 2s;"
        class="row mt-4"
      >
        <div class="col-md-3 text-center">
          <div class="tooltip1">
            <img
              class="img-fluid img-tooltip"
              src="/image/stomach-ache-pngrepo-com.png"
              alt="tooltip-1"
              width="150px"
              height="150px"
            />
            <p class="tooltip-title mt-3 text-center">Stomachache</p>
            <span class="tooltiptext1">Abdominal pain can be mild or severe,
              constant or come and go, acute or chronic. Location, pattern of
              pain, and time of onset also play a role in determining the cause
              of abdominal pain</span>
          </div>
        </div>
        <div class="col-md-3 text-center">
          <div class="tooltip1">
            <img
              class="img-fluid img-tooltip"
              src="/image/back-ache.png"
              alt="tooltip-1"
              width="150px"
              height="150px"
            />
            <p class="tooltip-title mt-3 text-center">Back ache</p>
            <span class="tooltiptext1">Back pain is a symptom that can appear
              after childbirth, after trauma or due to poor posture. It is
              important to understand the specific accompanying symptoms to
              determine the exact cause.</span>
          </div>
        </div>
        <div class="col-md-3 text-center">
          <div class="tooltip1">
            <img
              class="img-fluid img-tooltip"
              src="/image/shoulder-joint-pain.png"
              alt="tooltip-1"
              width="150px"
              height="150px"
            />
            <p class="tooltip-title mt-3 text-center">Shoulder joint pain</p>
            <span class="tooltiptext1">Shoulder pain is a disease that occurs
              when the soft tissues around the joint such as tendons, muscles,
              and ligaments that cover the joint cause pain, limiting your
              mobility.</span>
          </div>
        </div>
        <div class="col-md-3 text-center">
          <div class="tooltip1">
            <img
              class="img-fluid img-tooltip"
              src="/image/men-with-knee-pain-pngrepo-com.png"
              alt="tooltip-1"
              width="150px"
              height="150px"
            />
            <p class="tooltip-title mt-3 text-center">Knee pain</p>
            <span class="tooltiptext1">Knee pain is often a manifestation of a
              fairly common bone and joint disease – knee osteoarthritis. In
              addition, there are other diseases related to knee pain symptoms
              such as polyarthritis, gout, meniscus tear, etc.</span>
          </div>
        </div>
        <div class="col-md-3 text-center">
          <div class="tooltip1">
            <img
              class="img-fluid img-tooltip"
              src="/image/cough-1592931-1350352.png"
              alt="tooltip-1"
              width="150px"
              height="150px"
            />
            <p class="tooltip-title mt-3 text-center">Cough</p>
            <span class="tooltiptext1">Cough can be caused by causes unrelated
              to pre-existing medical conditions. For example, due to normal
              airway clearance, irritants such as smoke and gas, smoking, or
              improper swallowing of food and liquids.</span>
          </div>
        </div>
        <div class="col-md-3 text-center">
          <div class="tooltip1">
            <img
              class="img-fluid img-tooltip"
              src="/image/dizzy-1502228-1272468.png"
              alt="tooltip-1"
              width="150px"
              height="150px"
            />
            <p class="tooltip-title mt-3 text-center">Dizzy</p>
            <span class="tooltiptext1">Dizziness can make you feel dizzy,
              lightheaded, and unsteady on your feet. Anything that affects the
              vestibular nerve or the inner ear organ that contains the cochlea
              can cause vertigo.</span>
          </div>
        </div>
        <div class="col-md-3 text-center">
          <div class="tooltip1">
            <img
              class="img-fluid img-tooltip"
              src="/image/sore-throat-1561240-1322586.png"
              alt="tooltip-1"
              width="150px"
              height="150px"
            />
            <p class="tooltip-title mt-3 text-center">Sore throat</p>
            <span class="tooltiptext1">Most sore throat symptoms are caused by
              an infection. Pharyngitis not only affects normal communication,
              but also affects sleep and quality of life.</span>
          </div>
        </div>
        <div class="col-md-3 text-center">
          <div class="tooltip1">
            <img
              class="img-fluid img-tooltip"
              src="/image/chills-fever-pngrepo-com.png"
              alt="tooltip-1"
              width="150px"
              height="150px"
            />
            <p class="tooltip-title mt-3 text-center">Fever</p>
            <span class="tooltiptext1">Fever is often a sign that the body is
              fighting off the virus. Fever is often accompanied by diverse
              symptoms such as sore throat, runny nose, cough, phlegm or more
              seriously, confusion, etc.</span>
          </div>
        </div>
      </div>
    </div>
    <!-- Kết thúc phần 2 -->
    <!-- End of content -->

  </body>
