<link rel="stylesheet" href="/css/online_medical_records.css">
<body>
    <div class="container mt-3">
        <h1>Online medical records</h1>
        <div class="row">
            <div style="animation: slideInLeft; animation-duration: 2s " class="col-md-6 text-center">
                <img class="img-fluid" src="/image/online_health_records.png" alt="online medical record">
            </div>
            <div style="animation: slideInRight; animation-duration: 2s " class="col-md-6">
                <h2>AI Doctor</h2>
                <ul>
                    <li>Your lifetime medical information in a single app. Medical history, prescriptions and bills will be saved online; form a complete set of electronic medical records, serving all your visits later. Through this form, the doctor can monitor and evaluate the patient's medical history comprehensively; thereby building a more accurate treatment direction. In addition to communicating information between lines in the fastest way, the application of electronic medical records also helps researchers to extract patient data and derive very important experiences.</li>
                </ul>
                <a href="Person.hbs">
                    <div class="visit-us">
                        <img
                            class="img-fluid"
                            src="/image/LogoAI.png"
                            alt="visit-us"
                            height="100px"
                            width="100px"
                        />
                        <a href="http://localhost:2000">If you want to know about more information, please clicking here to get your demand</a>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>