<link rel="stylesheet" href="/css/Otorhinolaryngology_doctor.css"/>
<body>
    <div class="container">
        <h1 class="text-center mt-3">Otorhinolaryngology Doctor</h1>
        <div class="row">
            <!-- Row 1 -->
            <div class="col-md-4">
                <img class="img-fluid" src="https://vinmec-prod.s3.amazonaws.com/images/2015-11-19_171243.7843460000.jpeg" alt="otor-bacsi1">
                <h3 class="text-center mt-3">Tran Huu Tuan</h3>
                <p class="background-doctor mt-3">
                    <span><i class="fas fa-user-md"></i> Head of Inter-specialty Department Head of Resource - Nose - Throat Unit</span>
                    <span><i class="fas fa-building"></i> Interdisciplinary Department - Vinmec Times City International General Hospital</span>
                    <span><i class="fas fa-stethoscope"></i> Otorhinolaryngology,...</span>
                    <a target="_blank" href="https://www.vinmec.com/vi/danh-sach/bac-si/tran-huu-tuan-890/tai-mui-hong">More information</a>
                </p>
            </div>
            <div class="col-md-4">
                <img class="img-fluid" src="https://vinmec-prod.s3.amazonaws.com/images/16_03_2019_04_30_08_166798.jpeg" alt="otor-bacsi2">
                <h3 class="text-center mt-3">Nguyen Ngoc Lan</h3>
                <p class="background-doctor mt-3">
                    <span><i class="fas fa-user-md"></i> Pediatric Ear - Nose - Throat Doctor</span>
                    <span><i class="fas fa-building"></i> Vinmec Gardenia Clinic</span>
                    <span><i class="fas fa-stethoscope"></i> Otorhinolaryngology,...</span>
                    <a target="_blank" href="https://www.vinmec.com/vi/danh-sach/bac-si/nguyen-ngoc-lan-50982/tai-mui-hong">More information</a>
                </p>
            </div>
            <div class="col-md-4">
                <img class="img-fluid" src="https://vinmec-prod.s3.amazonaws.com/images/22_02_2019_03_40_33_228534.jpeg" alt="otor-bacsi3">
                <h3 class="text-center mt-3">Nguyen Van Thai</h3>
                <p class="background-doctor mt-3">
                    <span><i class="fas fa-user-md"></i> Pediatric Ear - Nose - Throat Doctor</span>
                    <span><i class="fas fa-building"></i> Department of Otolaryngology and Head and Neck Surgery - Vinmec Danang International General Hospital</span>
                    <span><i class="fas fa-stethoscope"></i> Otorhinolaryngology,...</span>
                    <a target="_blank" href="https://www.vinmec.com/vi/danh-sach/bac-si/nguyen-van-thai-51083/tai-mui-hong">More information</a>
                </p>
            </div>
            <!-- End of row 1 -->

            <!-- Row 2 -->
            <div class="col-md-4">
                <img class="img-fluid" src="https://vinmec-prod.s3.amazonaws.com/images/04_10_2021_04_40_25_040685.mpo" alt="otor-bacsi4">
                <h3 class="text-center mt-3">Le Tuan Nhat Hoang</h3>
                <p class="background-doctor mt-3">
                    <span><i class="fas fa-user-md"></i> Pediatric Ear - Nose - Throat Doctor</span>
                    <span><i class="fas fa-building"></i> Interdisciplinary Department - Vinmec Times City International General Hospital</span>
                    <span><i class="fas fa-stethoscope"></i> Otorhinolaryngology,...</span>
                    <a target="_blank" href="https://www.vinmec.com/vi/danh-sach/bac-si/le-tuan-nhat-hoang-51524/tai-mui-hong">More information</a>
                </p>
            </div>
            <div class="col-md-4">
                <img class="img-fluid" src="https://vinmec-prod.s3.amazonaws.com/images/2015-12-24_085229.7991690000.jpeg" alt="otor-bacsi5">
                <h3 class="text-center mt-3">Nguyen Vinh Toan</h3>
                <p class="background-doctor mt-3">
                    <span><i class="fas fa-user-md"></i> Pediatric Ear - Nose - Throat Doctor</span>
                    <span><i class="fas fa-building"></i> Interdisciplinary Department - Vinmec Times City International General Hospital</span>
                    <span><i class="fas fa-stethoscope"></i> Otorhinolaryngology,...</span>
                    <a target="_blank" href="https://www.vinmec.com/vi/danh-sach/bac-si/nguyen-vinh-toan-4341/tai-mui-hong">More information</a>
                </p>
            </div>
            <div class="col-md-4">
                <img class="img-fluid" src="https://vinmec-prod.s3.amazonaws.com/images/25_03_2019_11_23_34_584903.jpeg" alt="otor-bacsi6">
                <h3 class="text-center mt-3">Le Van Quang</h3>
                <p class="background-doctor mt-3">
                    <span><i class="fas fa-user-md"></i> Pediatric Ear - Nose - Throat Doctor</span>
                    <span><i class="fas fa-building"></i> Department of General Surgery - Vinmec Nha Trang International General Hospital</span>
                    <span><i class="fas fa-stethoscope"></i> Otorhinolaryngology,...</span>
                    <a target="_blank" href="https://www.vinmec.com/vi/danh-sach/bac-si/le-van-quang-50978/tai-mui-hong">More information</a>
                </p>
            </div>
            <!-- End of row 2 -->

        </div>
    </div>
</body>