<link rel="stylesheet" href="/css/Pediatrics_doctor.css"/>

<body>
    <div class="container">
        <h1 class="text-center mt-3">Pediatrics Doctor</h1>
        <div class="row">
            <!-- Row 1 -->
            <div class="col-md-4 ">
                <img class="img-fluid" src="https://vinmec-prod.s3.amazonaws.com/images/12_01_2019_11_08_54_075889.jpeg" alt="pedia-bacsi1">
                <h3 class="text-center mt-3">Nguyen Thanh Liem</h3>
                <p class="background-doctor mt-3">
                    <span><i class="fas fa-user-md"></i> Director of Vinmec Institute for Stem Cell Research and Gene Technology, Expert Advisor Center of Regenerative Medicine and Cell Therapy</span>
                    <span><i class="fas fa-building"></i> Center for Regenerative Medicine and Cell Therapy - Vinmec Times City International General Hospital, Unit of Regenerative Medicine Clinic and Educational Psychology - Vinmec Times City International Hospital</span>
                    <span><i class="fas fa-stethoscope"></i> Pediatric, Regenerative Medicine (Autism Cerebral Palsy, Stem Cells),...</span>
                    <a target="_blank" href="https://www.vinmec.com/vi/danh-sach/bac-si/nguyen-thanh-liem-50989/nhi">More information</a>
                </p>
            </div>
            <div class="col-md-4 ">
                <img class="img-fluid" src="https://vinmec-prod.s3.amazonaws.com/images/05_01_2019_03_03_31_362064.jpeg" alt="pedia-bacsi2">
                <h3 class="text-center mt-3">Pham Nhat An</h3>
                <p class="background-doctor mt-3">
                    <span><i class="fas fa-user-md"></i> Director of Pediatric Center cum Head of Pediatric Inpatient Department</span>
                    <span><i class="fas fa-building"></i> Children's Center - Vinmec Times City International General Hospital</span>
                    <span><i class="fas fa-stethoscope"></i> Pediatrics,...</span>
                    <a target="_blank" href="https://www.vinmec.com/vi/danh-sach/bac-si/pham-nhat-an-50932/nhi">More information</a>
                </p>
            </div>
            <div class="col-md-4 ">
                <img class="img-fluid" src="https://vinmec-prod.s3.amazonaws.com/images/11_12_2018_09_40_40_772413.jpeg" alt="pedia-bacsi3">
                <h3 class="text-center mt-3">Vu Van Soat</h3>
                <p class="background-doctor mt-3">
                    <span><i class="fas fa-user-md"></i> Head of Pediatrics - Neonatology Department</span>
                    <span><i class="fas fa-building"></i> Department of Pediatrics - Neonatology - Vinmec Ha Long International Hospital</span>
                    <span><i class="fas fa-stethoscope"></i> Pediatric, New-born,...</span>
                    <a target="_blank" href="https://www.vinmec.com/vi/danh-sach/bac-si/nguyen-thi-minh-tam-4987/noi-tong-hop">More information</a>
                </p>
            </div>
            <!-- End of row 1 -->

            <!-- Row 2 -->
            <div class="col-md-4 ">
                <img class="img-fluid" src="https://vinmec-prod.s3.amazonaws.com/images/14_05_2020_02_44_43_723731.jpeg" alt="pedia-bacsi4">
                <h3 class="text-center mt-3">Nguyen Thanh Hung</h3>
                <p class="background-doctor mt-3">
                    <span><i class="fas fa-user-md"></i> Head of Pediatrics - Neonatology Department</span>
                    <span><i class="fas fa-building"></i> Department of Pediatrics - Neonatology - Vinmec Nha Trang International General Hospital</span>
                    <span><i class="fas fa-stethoscope"></i> Pediatric, New-born, Vaccination,...</span>
                    <a target="_blank" href="https://www.vinmec.com/vi/danh-sach/bac-si/nguyen-thanh-hung-50785/nhi">More information</a>
                </p>
            </div>
            <div class="col-md-4 ">
                <img class="img-fluid" src="https://vinmec-prod.s3.amazonaws.com/images/05_01_2019_03_11_16_685175.jpeg" alt="pedia-bacsi5">
                <h3 class="text-center mt-3">Nguyen Thi Hoan</h3>
                <p class="background-doctor mt-3">
                    <span><i class="fas fa-user-md"></i> Head of Pediatric Outpatient Department</span>
                    <span><i class="fas fa-building"></i> Children's Center - Vinmec Times City International General Hospital</span>
                    <span><i class="fas fa-stethoscope"></i> Endocrine, Pediatric, Pediatric Endocrinology - Genetic Metabolism,...</span>
                    <a target="_blank" href="https://www.vinmec.com/vi/danh-sach/bac-si/nguyen-thi-hoan-50934/noi-tiet">More information</a>
                </p>
            </div>
            <div class="col-md-4 ">
                <img class="img-fluid" src="https://vinmec-prod.s3.amazonaws.com/images/29_01_2019_09_04_15_017092.jpeg" alt="pedia-bacsi6">
                <h3 class="text-center mt-3">Tran Thi Linh Chi</h3>
                <p class="background-doctor mt-3">
                    <span><i class="fas fa-user-md"></i> Head of Pediatrics - Neonatology Department</span>
                    <span><i class="fas fa-building"></i> Department of Pediatrics - Neonatology - Vinmec Hai Phong International General Hospital</span>
                    <span><i class="fas fa-stethoscope"></i> Pediatric, New-born, Vaccination,...</span>
                    <a target="_blank" href="https://www.vinmec.com/vi/danh-sach/bac-si/nguyen-thi-minh-tam-4987/noi-tong-hop">More information</a>
                </p>
            </div>
            <!-- End of row 2 -->

            <!-- Row 3 -->
            <div class="col-md-4 ">
                <img class="img-fluid" src="https://vinmec-prod.s3.amazonaws.com/images/18_02_2019_03_22_31_840114.jpeg" alt="pedia-bacsi7">
                <h3 class="text-center mt-3">Huynh Thoai Lan</h3>
                <p class="background-doctor mt-3">
                    <span><i class="fas fa-user-md"></i> Head of Pediatrics - Neonatology Department</span>
                    <span><i class="fas fa-building"></i> Department of Pediatrics and Neonatology, Vinmec Central Park International General Hospital, Pediatric Endocrinology Clinic - Vinmec Central Park International General Hospital</span>
                    <span><i class="fas fa-stethoscope"></i> Pediatric, Pediatric Endocrinology - Genetic Metabolism, Pediatric Kidney - Urology,...</span>
                    <a target="_blank" href="https://www.vinmec.com/vi/danh-sach/bac-si/huynh-thoai-loan-51048/nhi">More information</a>
                </p>
            </div>
            <div class="col-md-4 ">
                <img class="img-fluid" src="	https://vinmec-prod.s3.amazonaws.com/images/22_02_2019_04_54_19_968578.jpeg" alt="pedia-bacsi8">
                <h3 class="text-center mt-3">Nguyen Cong Canh</h3>
                <p class="background-doctor mt-3">
                    <span><i class="fas fa-user-md"></i> Head of Pediatrics - Neonatology Department</span>
                    <span><i class="fas fa-building"></i> Department of Pediatrics - Neonatology - Vinmec Danang International General Hospital</span>
                    <span><i class="fas fa-stethoscope"></i> Pediatric, New-born...</span>
                    <a target="_blank" href="https://www.vinmec.com/vi/danh-sach/bac-si/nguyen-cong-canh-51101/nhi">More information</a>
                </p>
            </div>
            <div class="col-md-4 ">
                <img class="img-fluid" src="https://vinmec-prod.s3.amazonaws.com/images/22_10_2021_11_37_58_530461.jpeg" alt="pedia-bacsi9">
                <h3 class="text-center mt-3">Phung Tuyet Lan</h3>
                <p class="background-doctor mt-3">
                    <span><i class="fas fa-user-md"></i> Head of Pediatric Inpatient Unit 3</span>
                    <span><i class="fas fa-building"></i> Children's Center - Vinmec Times City International General Hospital, Center for Oncology - Radiation Therapy - Vinmec Times City International General Hospital</span>
                    <span><i class="fas fa-stethoscope"></i> Oncology-Radiotherapy, Pediatric, Pediatric Hematology - Blood Transfusion,...</span>
                    <a target="_blank" href="https://www.vinmec.com/vi/danh-sach/bac-si/phung-tuyet-lan-50910/ung-buou">More information</a>
                </p>
            </div>
            <!-- End of row 3 -->

            <!-- Row 4 -->
            <div class="col-md-4 ">
                <img class="img-fluid" src="https://vinmec-prod.s3.amazonaws.com/images/03_01_2019_11_16_36_485421.jpeg" alt="pedia-bacsi10">
                <h3 class="text-center mt-3">Bui Thu Huong</h3>
                <p class="background-doctor mt-3">
                    <span><i class="fas fa-user-md"></i> Head of Emergency, Day Treatment Unit</span>
                    <span><i class="fas fa-building"></i> Children's Center - Vinmec Times City International General Hospital</span>
                    <span><i class="fas fa-stethoscope"></i> Resuscitation, Pediatric,...</span>
                    <a target="_blank" href="https://www.vinmec.com/vi/danh-sach/bac-si/bui-thu-huong-50909/hoi-suc-cap-cuu">More information</a>
                </p>
            </div>
            <div class="col-md-4 ">
                <img class="img-fluid" src="https://vinmec-prod.s3.amazonaws.com/images/08_09_2020_06_55_57_422375.jpeg" alt="pedia-bacsi11">
                <h3 class="text-center mt-3">Nguyen Thi Tam</h3>
                <p class="background-doctor mt-3">
                    <span><i class="fas fa-user-md"></i> Head of Unit Nhi II</span>
                    <span><i class="fas fa-building"></i> Children's Center - Vinmec Times City International General Hospital</span>
                    <span><i class="fas fa-stethoscope"></i> Pediatric, Pediatric Respiratory,...</span>
                    <a target="_blank" href="https://www.vinmec.com/vi/danh-sach/bac-si/nguyen-thi-tam-50929/nhi">More information</a>
                </p>
            </div>
            <div class="col-md-4 ">
                <img class="img-fluid" src="https://vinmec-prod.s3.amazonaws.com/images/13_02_2019_08_10_11_244687.mpo" alt="pedia-bacsi12">
                <h3 class="text-center mt-3">Nguyen Thi Kim Mai</h3>
                <p class="background-doctor mt-3">
                    <span><i class="fas fa-user-md"></i> Psycho doctor</span>
                    <span><i class="fas fa-building"></i> Unit of Regenerative Medicine Clinic and Educational Psychology - Vinmec Times City International Hospital</span>
                    <span><i class="fas fa-stethoscope"></i> Pediatric, Mentality, Regenerative Medicine (Autism Cerebral Palsy, Stem Cells),...</span>
                    <a target="_blank" href="https://www.vinmec.com/vi/danh-sach/bac-si/phung-tuyet-lan-50910/ung-buou">More information</a>
                </p>
            </div>
            <!-- End of row 4 -->
        </div>
    </div>
</body>