 <link rel="stylesheet" href="/css/profile.css" />

  <body>
    <div class="wrapper">
        <div class="title-text">
            
            <div class="title person">
                Information User
            </div>
        </div>
      
      <div class="form-container">
        <div class="form-inner">
          <form action="/Users/infoPerson" method="POST">
            <div class="form-left">
          <div class="mb-2">
            <label >Date of birthday</label>
              <SELECT id ="year" name = "yyyy" onchange="change_year(this)">
              </SELECT>
              <SELECT  id ="month" name = "mm" onchange="change_month(this)">
              </SELECT>
              <SELECT id ="day" name = "dd" >
              </SELECT>
          </div>
          <div class="mb-2">
            <label for="PhoneNumber" class="form-label">Phone</label>
            <input type='tel' placeholder="Phone Number"  class="form-control" pattern='\d{3}\d{4}\d{3}' title='Phone Number (Format: 099 9999 999)' required="" id="PhoneNumber" name="phone">
          </div>
          
          <div class="mb-2">
            <label for ="">Gender: &nbsp;&nbsp;</label>
            <input type="text" placeholder="Male or Female" name="gender" id="gender" required="">
        </div>
            
          
        <div class="mb-2">
          <label for="address" class="form-label">Address</label>
          <input class="form-control"  placeholder="Address"  required="" id="address" name="address" ></input>
        </div> 
        </div>
        <div class="form-right">
        <div class="mb-2">
            <label for="inputBackgroundisease">Background disease</label> 
            <textarea class="form-control" rows="4" cols="50" id="inputBackgroundisease"name="inputBackgroundisease" required="" placeholder="You need to provide information about the diseases you have such as Diabetes mellitus, lung diseases, Acute kidney injury, obesity, allergies etc"></textarea> 
          </div>
          <div class="mb-2">
            <label for="inputHPC">History of presenting complaint (HPC)/ History of present illness (HPI): </label> 
            <textarea class="form-control" rows="4" cols="50" id="inputHPC" name ="inputHPC"required="" placeholder="You need to provide information about diseases you have had, Past medical and surgical Hx, Drug history, etc."></textarea> 
          </div>
      </div>
        <div class="mb-2">
          <button type="submit" class="btn btn-primary">Submit</button>
        
        </div>
        <p><a href="/users/infoPerson/list" >Back your profile</a></p>
        </form>
        </div>
      </div>
    </div>
   
<script >
var Days = [31,28,31,30,31,30,31,31,30,31,30,31];// index => month [0-11]
$(document).ready(function(){
    var option = '<option value="day">day</option>';
    var selectedDay="day";
    for (var i=1;i <= Days[0];i++){ //add option days
        option += '<option value="'+ i + '">' + i + '</option>';
    }
    $('#day').append(option);
    $('#day').val(selectedDay);

    var option = '<option value="month">month</option>';
    var selectedMon ="month";
    for (var i=1;i <= 12;i++){
        option += '<option value="'+ i + '">' + i + '</option>';
    }
    $('#month').append(option);
    $('#month').val(selectedMon);

    var d = new Date();
    var option = '<option value="year">year</option>';
    selectedYear ="year";
    for (var i=1930;i <= d.getFullYear();i++){// years start i
        option += '<option value="'+ i + '">' + i + '</option>';
    }
    $('#year').append(option);
    $('#year').val(selectedYear);
});
function isLeapYear(year) {
    year = parseInt(year);
    if (year % 4 != 0) {
          return false;
      } else if (year % 400 == 0) {
          return true;
      } else if (year % 100 == 0) {
          return false;
      } else {
          return true;
      }
}

function change_year(select)
{
    if( isLeapYear( $(select).val() ) )
      {
            Days[1] = 29;
            if( $("#month").val() == 2)
            {
                   var day = $('#day');
                   var val = $(day).val();
                   $(day).empty();
                   var option = '<option value="day">day</option>';
                   for (var i=1;i <= Days[1];i++){ //add option days
                         option += '<option value="'+ i + '">' + i + '</option>';
             }
                   $(day).append(option);
                   if( val > Days[ month ] )
                   {
                          val = 1;
                   }
                   $(day).val(val);
             }
    }
    else {
        Days[1] = 28;
    }
}

function change_month(select) {
    var day = $('#day');
    var val = $(day).val();
    $(day).empty();
    var option = '<option value="day">day</option>';
    var month = parseInt( $(select).val() ) - 1;
    for (var i=1;i <= Days[ month ];i++){ //add option days
        option += '<option value="'+ i + '">' + i + '</option>';
    }
    $(day).append(option);
    if( val > Days[ month ] )
    {
        val = 1;
    }
    $(day).val(val);
}
</script>

