<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Form</title>
    <link rel="stylesheet" href="/css/formstyle.css" />
     <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
</head>
<body>
 <div class="wrapper">
          <!-- title for register form-->
      <div class="title-text">
            <div class="title register">Register</div>
      </div> 
      {{!--Error message--}}
      {{#if error_msg}}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{!-- <strong>Holy guacamole!</strong> You should check in on some of those fields below. --}}
        {{error_msg}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {{/if}}
      <div class="pass-link">
        <span> Already have an account?</span>
              <a href="http://localhost:2000/Login" >Login!</a>
      </div>
    <div class="form-container">
        <div class="form-inner">
            <form action="/Login" id="register" target="_self" method="post">
             <div class="field">
              <input type="text" placeholder="Email Address" id="email" class="form-control" name="email" required>
            </div>
            <div class="field">
              <input type="password" placeholder="Password" id="password" class="form-control" name="password" required>
            </div>
            <div class="field">
              <input type="password" placeholder="Confirm password" id="confirmPassword" class="form-control" name="confirmPassword" required>
            </div>
            <div class="field">
              <input type="text" placeholder="Your Full Name" id="name"class="form-control" name="name" required>
            </div>
            <div class="field">
              <input type="date" placeholder="Birth- Ex:01/10/2001" id="dob" class="form-control" required >
            </div>
           
            <div class="field btn">
              <div class="btn-layer btn btn-primary"></div>
            <button type="submit" class="btn">Register</button>
            </div>
            </form>
        </div>
    </div>
</div>
{{!-- <div class="popup-login" id="popup__login">
  <div class="popup-login__content">
      <div class="card-body">
       <div class="container padding">
        <div id="warning-icon"> 
          <i class="fas fa-check-circle"></i>
        </div>
        <div class="textwarning">
          Register Succesful !!!
        </div>
        <div class="container">
          <a href="http://localhost:2000/Login" class="btn btn--login_OK">OK</a>

        </div>
      </div> --}}

    </div>
  </div>
</div>
</body>
</html>