 <link rel="stylesheet" href="/css/profile.css" />

  <body>
    <div class="wrapper">
        <div class="title-text">
            
            <div class="title person">
                Avatar User
            </div>
        </div>
      
      <div class="form-container">
        <div class="form-inner">
          <form action="/Users/ChangeAvatar" method="POST">
          <div class="mb-2">
  <img role="presentation" src="/image/Userpic/profile_userimg .png" width="150" height="150" /> 
  <input type="radio" id="img " name="avatarUser" value="img " checked>
  <img role="presentation" src="/image/Userpic/profile_userimg1.png" width="150" height="150"/> 
  <input type="radio" id="img1" name="avatarUser" value="img1">
  <img role="presentation" src="/image/Userpic/profile_userimg2.png"width="150" height="150" />
  <input type="radio" id="img2" name="avatarUser" value="img2">
  <img role="presentation" src="/image/Userpic/profile_userimg3.png" width="150" height="150"/>
  <input type="radio" id="img3" name="avatarUser" value="img3">
  <img role="presentation" src="/image/Userpic/profile_userimg4.png" width="150" height="150"/>
  <input type="radio" id="img4" name="avatarUser" value="img4">
  <img role="presentation" src="/image/Userpic/profile_userimg5.png" width="150" height="150"/>
  <input type="radio" id="img5" name="avatarUser" value="img5">
  <img role="presentation" src="/image/Userpic/profile_userimg6.png" width="150" height="150"/>
  <input type="radio" id="img6" name="avatarUser" value="img6">
  <img role="presentation" src="/image/Userpic/profile_userimg7.png" width="150" height="150"/>
  <input type="radio" id="img7" name="avatarUser" value="img7">
  <img role="presentation" src="/image/Userpic/profile_userimg8.png" width="150" height="150"/>
  <input type="radio" id="img8" name="avatarUser" value="img8">
  <img role="presentation" src="/image/Userpic/profile_userimg9.png" width="150" height="150"/>
  <input type="radio" id="img9" name="avatarUser" value="img9">
  <img role="presentation" src="/image/Userpic/profile_userimg10.png" width="150" height="150"/>
  <input type="radio" id="img10" name="avatarUser" value="img10">
  <img role="presentation" src="/image/Userpic/profile_userimg11.png" width="150" height="150"/>
  <input type="radio" id="img11" name="avatarUser" value="img11">
  <img role="presentation" src="/image/Userpic/profile_userimg12.png" width="150" height="150"/>
  <input type="radio" id="img12" name="avatarUser" value="img12">
  <img role="presentation" src="/image/Userpic/profile_userimg13.png" width="150" height="150"/>
  <input type="radio" id="img13" name="avatarUser" value="img13">
  <img role="presentation" src="/image/Userpic/profile_userimg14.png" width="150" height="150"/>
  <input type="radio" id="img14" name="avatarUser" value="img14">
  <img role="presentation" src="/image/Userpic/profile_userimg15.png" width="150" height="150"/>
  <input type="radio" id="img15" name="avatarUser" value="img15">
  <img role="presentation" src="/image/Userpic/profile_userimg16.png" width="150" height="150"/>
  <input type="radio" id="img16" name="avatarUser" value="img16">
  <img role="presentation" src="/image/Userpic/profile_userimg17.png" width="150" height="150"/>
  <input type="radio" id="img17" name="avatarUser" value="img17">
  <img role="presentation" src="/image/Userpic/profile_userimg18.png" width="150" height="150"/>
  <input type="radio" id="img18" name="avatarUser" value="img18">
  <img role="presentation" src="/image/Userpic/profile_userimg19.png" width="150" height="150"/>
  <input type="radio" id="img19" name="avatarUser" value="img19">
  <img role="presentation" src="/image/Userpic/profile_userimg20.png" width="150" height="150"/>
  <input type="radio" id="img20" name="avatarUser" value="img20">
  
</div>
 <div class="mb-2">
  <button type="submit" class="btn btn-primary">Choose</button>
</div>
<p><a href="/users/infoPerson/list" >Back your profile</a></p>
        </form>
        </div>
      </div>
    </div>
   
